

@media screen and (max-width: 1300px) {
  
.panel_image {
  width: auto !important;
}

}


@media screen and (max-width: 1199px) {


.span10 {
  max-width: 870px;
}

  
.panel_title {
  margin-top: 12px !important;
  margin-bottom: 20px !important;
  }
  
.span3.portfolio-item {
  width: 30%;
}

}

/* Tablet devices */

@media (max-width: 1024px) {
  

  .ei-title {
    max-width: 70%;
    width: 50%;
  }
  
  .ei-slider-thumbs {
    max-width: 25% !important;
  }
  
  .ei-slider-large li img {
    width: 1200px !important;
    height: 100% !important;
    max-width: none;
    vertical-align: inherit;
    padding-bottom: 0;
    margin-left: -30px !important;
  }  
  
#tk_nav_homeblocks {
  right: -30px;
}

  .view-products-line-show-case .view-content {
      margin-left: 12px;
      font-size: 95%;
  }
  
  
  .view-products-line-show-case .view-content .views-row {
      text-align: center;
      width: 29%;
      height: auto;
      margin: 0 0 4px 8px;
      height: 200px;
  }
  
  .span3.portfolio-item {
    width: 29%;
    margin-left: 20px;
  }
  
  .portfolio-item-first .mask {
    display: block;
  }
    
  .portfolio-item .mask {
    position: relative !important;
    font-size: 100% !important;
    height: 90px !important;
    opacity: 1 !important;
  }
  
  
  .portfolio-item-first h3 {
    margin-top: 0px !important;
    padding-top: 10px !important;
    width: auto !important;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    height: 90px;
  }
  
  .portfolio-item-first:hover h3,
  .portfolio-item-first:hover p,
  .portfolio-item-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }
  
  .portfolio-item-first .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  width: auto;
  }
  
  .portfolio_tags {
    font-style: normal !important;
    position: relative !important;
    margin-top: 10px !important;
    color: white;
    font-size: 70%;
  }
  
    /*Pagine diverse da home */
  body.not-front #main_content_wrap.span6 {
    width: 95%;
    font-size: 90%;
  }

}

@media only screen and (min-width: 978px) and (max-width: 1024px) {

  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 800px;
  }
}	

@media only screen and (min-width: 761px) and (max-width: 1024px) {

  .span10 {
    width: 600px;
  }


  .view-products-line-show-case .view-content {
    margin: 0 0 0 25px;
  }

  /*Pagine diverse da home */
  

  
  body.not-front .row {
    margin-left: 100px;
  }

  #footer .span2 {
    display: none;
  }


}

@media only screen and (max-width: 768px) {

  #tk-panels-new .section_title,
  #tk-highlights .section_title {
    font-size: 160%;
    margin-bottom: 10px;
  }

  #nav_link_prodotti, #nav_link_evidenza, #nav_link_panels_new, #nav_link_highlights {
  font-size: 85%;
  }
  
}

@media only screen and (max-width:760px) {

#tk_nav_homeblocks {
  display: block !important;
  margin-top: 50px;
  right: -10px;
}



  /* Main menu */

  #menu {
    display: none;
  }
  
  .mobile-menu {
    display: block;
  }
  

#footer .span2 {
  display: none;
}

  .span5.footer_4 {
    float: right;
  }
  

  .view-vista-aree-aziendali-risorse .views-row  {
      margin: 0 0 20px 10px;
      float: left;
      display: inline-block;
      width: 30%;
      height: 150px;
  }
  
  .view-products-line-show-case .view-content {
      margin-left: 4px;
      font-size: 95%;
  }
  
  
  .view-products-line-show-case .view-content .views-row {
      text-align: center;
      width: 29%;
      height: auto;
      margin: 0 0 4px 8px;
      height: 190px;
  }

  #portfolio, #highlights {
  padding: 10px 10px;
  }
  
  .span3.portfolio-item {
    width: 27%;
    margin-left: 20px;
    float: left;
  }

.portfolio-item-first .mask h3 {
    font-size: 100%;
}

  .ei-title h2 {
    font-size: 120% !important;
    line-height: 40px !important;;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #fff;
  }
  
  .ei-title h3 {
    font-size: 150% !important;
    line-height: 40px !important;;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #fff;
  }

.view-vista-aree-aziendali-risorse img {
  width: auto !important;
  max-width: 90px;
}
  
  
}

@media only screen and (min-width:767px) and (max-width:1024px) {


}



@media only screen and (min-width:481px) and (max-width:760px) {
  

  .ei-slider-large li img {
    width: 810px !important;
    height: auto !important;
    max-width: none !important;
    min-height: 450px !important;
    margin-left: -40px !important;
  }
  
  .tk-panels-margin, .tk-panels-new-margin {
    height: 300px;
    position: relative;
  }
  
  
  /*Pagine diverse da home */
  body.not-front #main_content_wrap.span6 {
    margin: 160px 0 0 0;
  }

  body.not-front .row {
  margin-left: 0px;
  }

  
}

/* Mobiles devices */


@media only screen and (max-width:480px) {
  
  .container {
  padding: 0;
}

  
.ei-slider-large li img {
  width: 800px !important;
  height: 400px !important;
  margin-left: -300px !important;
}
  
  .tk-panels-margin, .tk-panels-new-margin {
    height: 240px;
    position: relative;
  }

  h2 {
  font-size: 160%;
  }

  .view-products-line-show-case .view-content {
      margin-left: 4px;
      font-size: 95%;
  }
  
  .view-products-line-show-case .view-content .views-row {
    text-align: center;
    width: 40%;
    height: auto;
    margin: 0 0 4px 24px;
    height: 170px;
  }

.span3.portfolio-item {
  width: 27%;
  margin-left: 14px;
}

  /*Pagine diverse da home */

  .ds_node_full .group-image, .ds_node_full.taxonomy-term .group-image {
  max-width: 100%;
  width: 100%;
  margin-right: 0;
  }
  
  .ds_notizia_anteprima > .group-left {
  width: 40%;
  margin-right: 10px;
  }
  
  .ds_notizia_anteprima > .group-right {
  width: 100%;
  float: none;
  }
  
  body.not-front .row {
  margin-left: 0px;
  }

  body.not-front #main_content_wrap.span6 {
    margin: 130px 0 0 10px;
  }


  
  #main_title img {
    margin: 0;
  }
  
  .view-vista-aree-aziendali-risorse {
      text-align: center;
      padding: 0 0 30px 0;
      height: 750px;
  }
   
  .view-vista-aree-aziendali-risorse .views-row  {
      margin: 0 0 20px 10px;
      float: left;
      display: inline-block;
      width: 45%;
      height: 150px;
  }
  

  .ds_node_full.risorse_umane.taxonomy-term .group-image {
    float: left;
    width: auto;
    max-width: 40%;
    margin-right: 16px;
    margin-bottom: 10px;
  }
  
  .ds_node_full.risorse_umane.taxonomy-term .group-page_content h2 {
    margin-top: 12px;
    font-size: 110%;
    line-height: 26px;
  }

    .ds_notizia_anteprima h2 a, .ds_notizia_anteprima .node h2 a {
    font-size: 80%;
    }
    
    .item-list .pager {
    margin-top: 30px;
    }  
  
    .item-list .pager li {
      background-image: none;
      display: inline;
      list-style-type: none;
      padding: 0;
    }
    
    .content ul.pager li a {
    font-size: 80% !important;
    padding: 0 6px !important;
    }
    
  .ei-title h2 {
    font-size: 100% !important;
    line-height: 24px !important;;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #fff;
  }
  
  .ei-title h3 {
    font-size: 120% !important;
    line-height: 24px !important;;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  
  #tk_nav_homeblocks {
  display: block !important;
  margin-top: 60px;
  font-size: 80%;
  z-index: 350;
  }
  
#main_title {
    width: 130px !important;
    margin: auto;
    margin-top: -40px;
    margin-bottom: 22px;
    margin-left: 0px;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: fixed;
    left: 0;
    background: none !important;
    z-index: 200;
}
  
  .mobile-menu {
  width: 50%;
  font-size: 80%;
  }
  
.tk-language_selector {
  right: 10px !important;
  z-index: 300 !important;
}

.ei-title {
  position: absolute;
  right: 0;
  top: 28%;
  background: #000000;
  background: rgba(0,0,0,0.5);
  padding: 20px 30px 20px 20px;
  max-width: 38%;
}

.view-products-line-show-case {
  width: 100%;
  padding: 0;
}

  #tk-highlights.tk-highlights {
  background: #fff;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#tk-highlights .section_title {
  margin: 20px 0px 10px 0;
}

  #tk-panels-new {
  background: #fff;
  margin-bottom: 0;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#footer, .push {
  height: 100px;
}
  
}

@media only screen and (min-width:321px) and (max-width:480px) {

  
}


@media only screen and (max-width:320px) {
  

.view-products-line-show-case .view-content {
      margin-left: 4px;
      font-size: 95%;
  }
  
  .view-products-line-show-case .view-content .views-row {
      text-align: center;
      width: 40%;
      height: auto;
      margin: 0 0 4px 16px;
      height: 170px;
  }


  .ei-slider-large li img {
    width: 800px;
    height: 330px !important;
    margin-left: 0px !important;
  }
  
  .tk-panels-margin, .tk-panels-new-margin {
    height: 190px;
    position: relative;
  }

.ei-title {
  position: absolute;
  right: 0;
  top: 220px;
  background: #000000;
  background: rgba(0,0,0,0.7);
  padding: 14px 20px 14px 20px;
  width: 90%;
  height: 89px;
}

  .ei-title h2 {
    font-size: 90% !important;
    line-height: 20px !important;;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #fff;
  }
  
  .ei-title h3 {
    font-size: 110% !important;
    line-height: 20px !important;;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #fff;
  }
  
.tk-portfolio, #tk-highlights.tk-highlights {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  z-index: 100;
}

.span3.portfolio-item {
  width: 27%;
  margin-left: 14px;
  font-size: 80%;
}


}





