



#background_image_wrapper {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index:auto;
}

#background_image_wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  width: 100%;
}

body.front #background_image_wrapper {
  display: none;
}

.node li {
	list-style-position: inside;
	list-style-type: disc;
	list-style-image: none;
}

.node li > :first-child {
    /* Make Firefox put the list marker inside */
    /* https://bugzilla.mozilla.org/show_bug.cgi?id=36854 "if list-style-position is inside, bullet takes own line" */
    display: inline; }
    .node li > :first-child:after {
      /* Add the margin that was lost w/ display: inline */
      /* Firefox 10 displays this as block */
      /* Safari 5.1.2 and Chrome 17.0.963.56 don't */
      content: "";
      display: block;
      margin-bottom: 1em; }

.ei-slider {
  position: fixed;
  width: 100%;
  height: 680px;
  margin: 0 auto;
  margin-top: 0;
  left: 0;
  background: #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 5;
}

.ei-slider-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: auto;
  background: 
  #E7E7E7;
  color: #fff;
  text-align: center;
  line-height: 400px;
}

.ei-slider-loading img {
  width: auto;
}

.ei-slider-large {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0px;
  margin-top: -30px;
}

.ei-slider-large li {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.ei-title {
  position: absolute;
  right: 0;
  top: 30%;
  background: #000000;
  background: rgba(0,0,0,0.5);
  padding: 20px 30px 20px 20px;
  max-width: 38%;
  z-index: 5;
}

.ei-slider-thumbs li img {
  width: 100%;
}

.ei-slider-large li img {
  width: 100%;
}


.ei-slider-large li img {
  width: 100% !important;
  height: auto;
  max-width: 100%;
  vertical-align: inherit;
  padding-bottom: 0;
  margin-left: 0px !important;
}

.ei-title h2 {
  font-size: 220%;
  line-height: 50px;
  font-weight: bold;
  /*font-family: 'Raleway', sans-serif; tk */
  font-family: 'Verdana', sans-serif;
  color: #fff;
}

.ei-title h3 {
  font-size: 250%;
  line-height: 50px;
  /*font-family: 'Raleway', sans-serif; tk */
  font-family: 'Verdana', sans-serif;
  text-transform: uppercase;
  color: #fff;
}



#vert_nav {
  position: fixed; 
  z-index: 300; 
  margin-left: 30px;
}

#main_content_wrap.span6 {
    width: 70%;
}

#main_title {
  width: 260px;
  height: 160px;
  margin: auto;
  margin-top: -40px;
  margin-bottom: 22px;
  margin-left: 0px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: fixed;
  left: 0;
  background: none !important;
  z-index: 200;
}

#main_title img {
  margin: 0;
}

.send_your_cv.float-right {
  text-align: right;
  margin: 0 10px 10px 0;
}

.tk-language_selector.front_page {
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 40px;
}

.tk-language_selector_page {
  height: 20px;
  position: relative;
  margin-bottom: 10px;
}

.tk-language_selector_page #block-lang-dropdown-language {
  float: right;
}

.tk-language_selector_page .form-item, .tk-language_selector_page .form-actions {
margin-top: 0;
margin-bottom: 0;
}

.tk-language_selector_page #edit-lang-dropdown-select_msdd {
  margin-top: 0;
}

#main_content_wrap {
  margin: 40px 0 0 0;
  padding-bottom: 40px;
  background-color: white;
}

#main_content {
  padding: 30px;
  margin-bottom: 20px;
  min-height: 400px;
}

.region-content {
  background: #fff;
  padding: 0px;
}

h2 {
  font-size: 200%;
}

h1, h2, h3 {
  line-height: 30px;
}

.content p {
	line-height: 1.4;
	font-size: 100%;
	clear: none;
	margin: 6px 0 6px 0;
}

input {
	width: auto;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding-bottom: 6px;
}



.field-name-body img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    padding-bottom: 6px;
}




.float-right {
	float: right;
}

.region-footer-4 .block.float-right.footer_epta h2 {
display: none;
}

input[type="text"] {
  color: #555555;
}

.region-footer-4 .block.float-right.footer_epta .image-link {
  display: inline-block;
  margin-right: 20px;
}


#main-menu {
  position: fixed;
  left: 40px;
  z-index: 100;
}

#main-menu li {
	margin: 0 0 2px 0 !important;
	background-color: #FFF;
}

li.dhtml-folder.collapsed {
  list-style-image: none !important;
}


a.dhtml-menu-icon {
	position: relative;
	float: left;
	width: 0;
	height: 0;
	display: none !important;
}


/**** New style from retheming ****/

.span10 {
  z-index: -10;
}

#breadcrumb {
  display: none;
}

.span3.portfolio-item {
  width: 30%;
}

.span3.portfolio-item .view_portfolio_image {
	width: 100%;
	position: relative;
}

.mobile-menu {
    width: 60%;
}

#footer .span3 {
width: auto;
text-align: left;
}

.span5.footer_4 {
  width: auto;
  float: right;
}


body.not-front .row {
  margin-left: 40px;
}

#tk-slider-wrapper {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 2000px;
  background: white;
}

/*#tk-scrolling-panels-wrapper{
  z-index: 100 !important;
}
*/

.region-panels-new {
  background-color: #fff;
}


#tk_nav_homeblocks {
  position: absolute;
  z-index: 10;
  right: 0px;
  color: #666666;
  text-shadow: 1px 1px 1px #fff;
  margin-top: 15px;
  background: #FFFFFF;
  background: rgba(255,255,255, 0.8);
  padding: 8px 20px;
  /*font-family: 'Raleway','Open Sans', sans-serif; tk */
  font-family: 'Verdana', sans-serif;
  font-weight: lighter;
  font-size: 110%;
  margin-right: 20px;
  text-align: left;
}

#nav_link_prodotti,
#nav_link_evidenza,
#nav_link_panels_new,
#nav_link_highlights {
  cursor: pointer;
  color: #DB2323;
  display: inline-block;
}

#tk-panels-new {
  height: auto;
  background: #fff;
  position: relative;
  z-index: 90;
}


.tk-panels-margin,
.tk-panels-new-margin {
  height: 400px;
  position: relative;
}

.tk-panels-anchor
.tk-panels-new-anchor  {
  height: 10px;
  position: relative;
}

.tk-panels {
  position: relative;
}

.tk-panels {
  background: #fff;
  margin-top: 140px;
  position: relative;
  z-index: 12;
  -webkit-box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.75);
}


#tk-panels-new .section_title,
#tk-highlights .section_title {
text-align: center;
font-size: 220%;
/*font-family: 'Raleway', sans-serif; tk */
font-family: 'Verdana', sans-serif;
padding: 15px 0px;
text-transform: capitalize;
margin: 40px 0px 10px 0;
background-color: white;
  position: relative;
}

#portfolio,
#highlights {
padding: 10px 50px;
}

.tk-portfolio,
#tk-highlights.tk-highlights {
background: #fff;
margin-top: 80px;
margin-bottom: 100px;
position: relative;
z-index: 100;
-webkit-box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.75);
box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.75);
}

.portfolio-item h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 120%;
  padding: 5px 5px 5px 5px;
  background: #000 !important;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
  line-height: 20px;
}



.portfolio_tags {
  font-style: normal !important;
  position: relative !important;
  margin-top: -110px !important;
  color: white;
  font-size: 90%;
  font-weight: bold;
  padding: 010px;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  overflow: hidden;
  width: 51px;
  height: 51px;
  border: none;
  text-indent: 100%;
  background: url('/sites/all/themes/kalypso-drupal/images/ui.totop.png') no-repeat left top;
  z-index: 50000;
}

.field-slideshow {
  padding-bottom: 20px !important;
}

#footer {
  background-color: #333;
  background-image: url('../images/backgrounds/office.png');
  box-shadow: none;
  color: #797979;
  font-size: 12px;
  padding: 10px 0px 0px 0px;
  position: relative;
  z-index: 10;
}

  #footer .container {
    width: 95%;
  }

.sf-sub-indicator {
  display: none;
}

/** TK FONT OVERRIDES **/
#main-menu li a { 
    font-family:Verdana, Arial, Helvetica, sans-serif !important;
    text-shadow: 1px 1px 1px #E1E1E1;
}
h1, h2, h3, h4, h5, h6 {
  font-family:Verdana, Arial, Helvetica, sans-serif !important;
}
#tk-panels-new-wrapper a { 
    color: #000000 !important; font-weight: normal; font-size: 12px;
    text-shadow: 1px 1px 1px #E1E1E1;
}

.portfolio-item-first .mask {
background-color: rgba(219, 35, 35, 0.7);
}