/**
 * @file
 * CSS for OpenLayers Draw Features Behavior
 */

.olControlEditingToolbar .olControlModifyFeatureItemActive {
  background-position: -1px -24px;
}

.olControlEditingToolbar .olControlModifyFeatureItemInactive {
  background-position: -1px -1px;
}
