
/** Espresso2 Frontend SubMenu **/
.espresso-menu:before {
    clear:both;
}
.espresso-menu {
    position: relative; z-index: 100;  margin-top: -30px;
}

.espresso-menu #prod-menu-container {
    position: fixed; top: 166px; width: 100%; display: none; z-index: 1; box-shadow: 0 5px 5px 0px rgba(0,0,0,0.3); z-index: 300;
}
@media only screen and (max-width: 959px) { 
    .espresso-menu #prod-menu-container {
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
        display: none;
        position: absolute;
        top: 1px;
        width: 100%;
        z-index: 300;
    }
}


.espresso-menu #prod-menu-header {
    background-color: #a6a8ab; 
    /*height: 28px;*/
}
.espresso-menu #prod-menu-header > .container {
    text-align: center;
}
.espresso-menu #prod-menu-header > .container > ul {
    margin: 0 auto; padding: 0; text-align: center;
}
.espresso-menu #prod-menu-header > .container > ul li {
    display: inline-block;color: #000; font-size: 14px; height: 100%; text-align: center;  
    margin: 0 10px;
}
.espresso-menu #prod-menu-header > .container > ul li a { display: block; padding: 10px; }
.espresso-menu #prod-menu-header > .container > ul li.active a {
    color: #ffffff;background: transparent url('../images/bg_submenu-h.png') no-repeat bottom center; 
}
.espresso-menu #prod-menu-header > .container > ul li a:hover {
    color: #ffffff;background: transparent url('../images/bg_submenu-h.png') no-repeat bottom center; cursor: pointer; 
}


.espresso-menu #prod-menu-content {
    background-color: #ffffff; min-height: 70px;
}
.espresso-menu #prod-menu-content > div { width: 100%; height: 100%; }
.espresso-menu #prod-menu-content ul li { display: inline-block; list-style-type: none; }
.espresso-menu #prod-menu-content #box-taxonomies {
    
}
.espresso-menu #prod-menu-content #box-taxonomies ul {margin: 0; padding: 0;  text-align: center;}
.espresso-menu #prod-menu-content #box-taxonomies ul li { margin: 0 40px; }
.espresso-menu #prod-menu-content #box-taxonomies ul li a { display: block; font-size: 14px; letter-spacing: 0.05em; text-transform: uppercase; padding: 10px 0;}
.espresso-menu #prod-menu-content #box-taxonomies ul li a img {
    height: 70px; /*max-width: 90px; */ float: left; margin-right: 5px;
}
.espresso-menu #prod-menu-content #box-taxonomies ul li a span {
    display: inline-block; line-height: 70px;
}
.espresso-menu #prod-menu-content #box-features {}
.espresso-menu #prod-menu-content #box-features ul { margin: 0; padding:7px 0 0 0;  }
.espresso-menu #prod-menu-content #box-features ul:after { clear: left; content: ''; height: 10px; }
.espresso-menu #prod-menu-content #box-features ul li { /*float: left;*/vertical-align: middle;}
.espresso-menu #prod-menu-content #box-features ul li a { 
    display: block; text-align: center; opacity: 0.5; color: #000000; height: 80px; width: 90px; 
    /*border: 1px solid red;*/ 
    line-height: 0.9em;
}
.espresso-menu #prod-menu-content #box-features ul li a:hover,
.espresso-menu #prod-menu-content #box-features ul li a.active{ opacity: 1; }
.espresso-menu #prod-menu-content #box-features ul li a img { display: block; margin: 0 auto; max-height: 50px; max-width: 50px;margin-bottom: 5px; }


.espresso-menu #prod-menu-content  .submit-div {
    clear: left; text-align: center; margin: 10px 0; position: relative;bottom: 0;
}
.espresso-menu #prod-menu-content  .submit-btn { 
    display: inline-block; 
/*    width: 137px;
    height: 32px;
    line-height: 32px;*/
    padding: 5px 10px;
    background-color: #999; 
}
.espresso-menu #prod-menu-content  .submit-btn a { 
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;color: #ffffff;
    text-transform: uppercase;
}
.espresso-menu #prod-menu-content  .submit-btn a:hover {
    text-decoration: underline;
} 