
.view .view-content {
    margin: 10px 0;
    padding:6px 0 0 0;
}


.view-amministra-i-contenuti .view-header div.float-right {
	float: right;
}


.view-products-line-show-case {
    padding: 0;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.view-products-line-show-case .view-content {
    padding: 10px 0;
    position: relative;
    margin: 0 0 0 24px;
}

.view-products-line-show-case .view-content .views-row {
    float: left;
    min-height: 1px;
    text-align: center;
    width: 15%;
    height: auto;
    margin: 0 0 4px 10px;
    height: 150px;

}

.view-products-line-show-case .view-content .views-field  {
    text-align: center;
    margin: auto;
}


.view-products-line-show-case .view-content .views-field.views-field-field-product-showcase-image img {
    width: 100%;
    height: auto;
    padding-bottom: 0 !important;
}

.view-products-line-show-case .view-content .views-field.views-field-title-field {
    margin-top: 6px;
    font-size: 105%;
}


.view-products-line-show-case .view-content .views-row img {
    margin: 0;
}

.view-home-highlights .view-content img {
    width: 100%;
    height: auto;
    padding-bottom: 0 !important;
}


.view-vista-aree-aziendali-risorse .view-content table td {
    padding: 10px;
    vertical-align: top;
    
}

.view-vista-aree-aziendali-risorse {
    text-align: center;
    padding: 0 0 30px 0;
    height: 440px;
}
 
.view-vista-aree-aziendali-risorse .views-row  {
    margin: 0 0 20px 10px;
    float: left;
    display: inline-block;
    width: 30%;
    height: 150px;
}

.view-vista-aree-aziendali-risorse img {
    width: auto !important;
}