/** Hide page title for LAB pages **/
.page-header {
/*.page-concept .page-header {*/
  border-bottom: medium none;
  margin-bottom: 10px;
  padding: 0;
  display: none;
}

/** Page Content Layout **/
.page-concept #content .container {
    width: 100%;
}
.concept_container .title_container {
    width: 960px; margin: 0 auto; max-width: 100%;
}
.concept_container .title_container p {
    text-align: justify;
}

.concept_container {}
.concept_container ul { margin: 0; padding: 0; }
.concept_container ul li.concept_item { 
    list-style-type: none; display: inline-block; vertical-align: text-bottom; 
    width: 20%; background-color: #cccccc; padding:10px; margin:1%;
    height: 200px;
}
.concept_container ul li.concept_item a {
    display: block; height: 100%;
}
.concept_container .concept_thumb { text-align: center; height: 140px; }
.concept_container .concept_thumb img { max-width: 100%; max-height: 130px; }
.concept_container .concept_data {}
.concept_container .concept_title { font-size: 1.2em; font-weight: 600; }
.concept_container .concept_date { font-size: 0.9em; font-weight: 400; }

.t_line_month { display: none; }

.concept_container {
    font-family: "Open Sans Light" !important; font-weight: normal;
}
.concept_container h4, 
.concept_container h5,
.concept_container h3,
.concept_container h6 {
    font-family: "Open Sans Light" !important; font-weight: bold;
}

/**======= 
Item content inside Fancybox
*=======**/
.fancybox-inner .item_open {
/*	width:410px;
	height:410px;*/
	/*background:#eaeaea;*/ 
	position:relative;
	color:#777777;
        max-width: 100%;
	/*z-index:2;*/ 
}
.fancybox-inner .item_open h2 {
	/*font-family: Montserrat;*/
	margin:20px 0 10px;
	padding-top:0;
	font-size:20px;
	line-height:12px;
	color: #dd5555;
}
.fancybox-inner .item_open p {
    text-align: left;
}
.fancybox-inner img {
    /*max-width: 90%;*/
    max-height: 90%;
}

/**
*   MOBILE
*/
@media only screen and (max-width: 767px) {
    .container {
        width: 93%;
    }
    .concept_container ul li.concept_item {
        height: auto;
        width: 26%;
        min-width: 80px;
    }
    .concept_container .concept_thumb {
        height: auto;
    }
    .concept_container .concept_thumb img {
        max-height: 14vw;
    }
}
