/**
 * @file
 * CSS file for OpenLayers dark theme.
 *
 * We include the default styles, then add
 * some specificity to override certain elements
 * like image references.
 */

@import url(openlayers_style.css);


.olControlOverviewMapExtentRectangle {
  border: none;
}
.olControlOverviewMapRectReplacement {
    background-image: url(img/overview_replacement.png);
}

/**
 * A few custom styles
 */
.openlayers-popup {
  color: #EEEEEE;
}
.olImageLoadError,
.openlayers-map .olImageLoadError {
  background-color: transparent;
}

/**
 * CSS fix, see #1646646
 */
label.olButton {
  display: inline;
  margin-left: .5em;
}

/**
 * Improve placement of controls that overlap when both are enabled.
 */
.openlayers_behavior_fullscreen_button_panelActive .olControlEditingToolbar {
  right: 30px;
}
.olControlMousePositionActive .olControlAttribution {
  bottom: 1.2em;
  right: 3px;
}

/**
 * Make the fullscreen behavior button match dark design.
 * The fullscreen button is added to the editing tool bar PNG to reduce
 * HTTP requests.
 */
.openlayers_behavior_fullscreen_buttonItemInactive {
  background-image: url(img/editing_tool_bar.png);
  background-position: -153px -1px;
  width: 24px;
  height: 22px;
}
.openlayers_map_fullscreen .openlayers_behavior_fullscreen_buttonItemInactive {
  background-position: -153px -24px;
}

.openlayers-container {
    position: relative;
}

/**
 * The following are images that are not in
 * this theme (but should be).
 */

/*
.openlayers-map .olControlNavigationHistory {
    background-image: url("img/navigation_history.png");
}
*/

.openlayers-map .olControlOverviewMapRectReplacement {
  background-image: url("img/overview_replacement.gif");
}
.openlayers-map .olControlNavigationHistory {
  background-image: url("img/navigation_history.png");
}
.openlayers-map div.olControlSaveFeaturesItemActive {
  background-image: url("img/save_features_on.png");
}
div.olControlSaveFeaturesItemInactive {
  background-image: url("img/save_features_off.png");
}
.openlayers-map .olControlPanPanel div {
  background-image: url("img/pan-panel.png");
}
.openlayers-map .olPopupCloseBox {
  background: url("img/close.gif") no-repeat scroll 0 0 transparent;
}
.openlayers-map .olControlZoomPanel div {
  background-image: url("img/zoom-panel.png");
}
