/* ----- FOOTER ----- */
#footer .container .columns .adjective{
	border-top: none !important;
	padding-top: 0px !important;
}
#footer{
	background-image: none !important;
	height: auto !important;
	box-shadow: none !important;
	padding: 0px 0px 0px 0px !important;
	margin: 0px;
	color: #000000 !important;
}

#footer a{
	color: #000000;
}

#footer a:hover{
	text-decoration: underline;
	
	

}
#footer_first {
	float: right;
	/*text-align: right;*/
	width: 100%;
	display: block;
	padding-bottom:5px;
	padding-top:10px;
	border-bottom: 1px inset #000000;
	font-size: 13px;
	
}

.region-footer-full .block.float-right{
	width: 100%;
}

#footer-left {
	float: left;
	text-align: left;
	/*margin-top: 9px;*/
}

#footer-secondrow {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
	width: 100%;
	clear: both;
	font-size: 13px;

}

.region-footer-full h2 {
	display: none; /*lasciare*/
}

#footer_first .image-link {
	margin-right: 5px;
	height: 25px;
	width:auto;
	float: right;
	
}

.image-link {
	margin-right: 5px;
	height: 25px;
	width:auto;
	vertical-align: top;
	
}

#footer_first .text-footer {
	margin-right: 12px;
	float: right;
	
}
.image-link-big {
	height: 34px;
	width:auto;
	float: right;
	margin-top: -3px;
	
}
#footer-right.divisor{
	border-left: 1px outset #000000;
	margin-left: 12px;
	margin-right: 12px;
	height: 24px;
	float: right;
}
.divisor{
	border-left: 1px outset #000000;
	margin-left: 12px;
	margin-right: 12px;
	font-size: 18px;
}

