#wrapper{margin:0 20px 0 220px}
a{color:#369}
body{font-size:16px;line-height:24px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;margin:0;padding:0}
article{max-width:944px;margin:auto}
h1{font-size:80px;line-height:80px;margin-top:24px;margin-bottom:48px}
h2{font-size:42px;line-height:48px;margin-top:36px;margin-bottom:24px}
h3{font-size:26px;line-height:48px;margin-top:24px;margin-bottom:0}
h1,h2,h3,#toc a{font-family:'Voces',sans-serif}
p,ul{margin-top:0;margin-bottom:24px}
small,aside{font-size:10px}
code{word-wrap:break-word}
.repo-stats iframe{float:right;margin-left:5px}
#toc{top:0;left:0;height:100%;position:fixed;background:#333;box-shadow:inset -5px 0 5px 0 #000;width:200px;padding-top:20px;color:#fff}
#toc ul{margin:0;padding:0;list-style:none}
#toc li{padding:5px 10px}
#toc a{color:#fff;text-decoration:none;display:block}
#toc .toc-h2{padding-left:10px}
#toc .toc-h3{padding-left:20px}
#toc .toc-active{background:#369;box-shadow:inset -5px 0 10px -5px #000}
pre{display:block;padding:.5em;background:#333;color:#f8f8f8; word-wrap: break-word; font-size: 14px;}
pre .shebang,pre .comment,pre .template_comment,pre .javadoc{color:#7c7c7c}pre .keyword,pre .tag,pre .ruby .function .keyword,pre .tex .command{color:#96cbfe}pre .function .keyword,pre .sub .keyword,pre .method,pre .list .title{color:#ffffb6}pre .string,pre .tag .value,pre .cdata,pre .filter .argument,pre .attr_selector,pre .apache .cbracket,pre .date{color:#a8ff60}pre .subst{color:#daefa3}
pre .regexp{color:#e9c062}
pre .function .title,pre .sub .identifier,pre .pi,pre .decorator,pre .ini .title,pre .tex .special{color:#ffffb6}pre .class .title,pre .haskell .label,pre .constant,pre .smalltalk .class,pre .javadoctag,pre .yardoctag,pre .phpdoc,pre .nginx .built_in{color:#ffffb6}pre .symbol,pre .ruby .symbol .string,pre .ruby .symbol .keyword,pre .ruby .symbol .keymethods,pre .number,pre .variable,pre .vbscript,pre .literal{color:#c6c5fe}
pre .css .tag{color:#96cbfe}pre .css .rules .property,pre .css .id{color:#ffffb6}
pre .css .class{color:#FFF}
pre .hexcolor{color:#c6c5fe}
pre .number{color:#ff73fd}
pre .tex .formula{opacity:.7}
