.md-layer-5-0-0 {
color: #747474 !important;
 text-align: center;
 font-size: 2.0833333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-5-0-1 {
color: #747474 !important;
 text-align: center;
 font-size: 2.8333333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-5-1-0 {
color: #747474 !important;
 text-align: right;
 font-size: 2.0833333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-5-1-1 {
color: #747474 !important;
 text-align: right;
 font-size: 2.8333333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-5-2-0 {
color: #747474 !important;
 text-align: right;
 font-size: 2.0833333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-5-2-1 {
color: #747474 !important;
 text-align: left;
 font-size: 2.8333333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-5-3-0 {
color: #747474 !important;
 text-align: center;
 font-size: 2.0833333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-5-3-1 {
color: #747474 !important;
 text-align: center;
 font-size: 2.8333333333333em;
 font-weight: 300;
 font-family: Open Sans;
}