.md-layer-1-1-0 {
color: #747474 !important;
 text-align: center;
 font-size: 2.0833333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-1-1-1 {
color: #747474 !important;
 text-align: center;
 font-size: 2.8333333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-1-2-0 {
color: #747474 !important;
 text-align: right;
 font-size: 2.0833333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-1-2-1 {
color: #747474 !important;
 text-align: right;
 font-size: 2.8333333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-1-3-0 {
color: #747474 !important;
 text-align: right;
 font-size: 2.0833333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-1-3-1 {
color: #747474 !important;
 text-align: left;
 font-size: 2.8333333333333em;
 font-weight: 300;
 font-family: Open Sans;
}
.md-layer-1-4-1 {
color: #747474 !important;
 text-align: center;
 font-size: 2.8333333333333em;
 font-weight: 400;
 font-family: Open Sans;
}
.md-layer-1-4-2 {
color: #747474 !important;
 font-size: 2em;
 font-weight: 300;
 font-family: Open Sans;
}