.group-header {
        border: 0px solid #FF0000;
        display:none;
}

.title{
        margin-top:0px;
        background-color:#EBEBE9;
        color:#747474;
        text-align:center;
        font-size:14px;
        padding:0px;
}
.title a{
        color:#747474;
} 

ul.firstUl{
        background-color:#EBEBE9;
        color:#747474;

        padding: 0px;

        margin: 0px;

}
li.firstLi {
        list-style:none;
        color:#747474;
        font-size:11px;
        border-bottom:2px solid #ffffff;
        padding-left:0px;

}
li.firstLi a{
        color:#747474;
        padding-left:5px;
}
li.firstLiActive{
        color:#FF0000;
}

ul.secUl{
        background-color:#EBEBE9;
        padding:0px;
        margin:0px;
        margin-left:0px;
}
li.secLi {

        list-style: none;
        color:#747474;
        font-size:11px;

        padding-left:5px;
        background-color:#EBEBE9;
        margin-left:3px;
        border-bottom:2px solid #ffffff;
}
li.secLi a{
        color:#747474;
}
li.secLiActive{
        color:#BE1018;
}
li.secLiActive a{
        color:#BE1018;
}
img.fisrtImgLi{
        border:none;
        margin-left:10px;
}

div.div_table{
}
div.div_table table{
        border:0px solid #00ff00;
        width:100%;
}

.col-file_name{ width:15%; vertical-align:middle; }
.col-file_name img{ padding:0px; }
.col-titolo { width:80%; }

tr.even, tr.odd{
        /* background-color:#ffffff; */
}

div.year_header {
    height: 30px;
    line-height: 30px;
    border-top: 1px dashed #626262;
    border-bottom: 1px dashed #626262;
    background-color: #dfdfdf; 
    color: #000;
    padding-right: 20px;
    text-align: right;
}
div.year_header span {
    display: inline-block; 
    font-family: 'Open Sans Light';
    font-size: 16px;
    font-weight: bold;
}
div.year_header.open {
    opacity: .7; /* layer alpha */
    background-color: #000; /* layer fill content */
    color: #fff;
}

div.year_header a {
    display: inline-block; 
    float: right;
    margin-left: 20px;
    width: 20px;
    height: 100%;
    background: transparent url('../images/table_expanded_icon.png') no-repeat;
    background-position: center center;
}
div.year_header.open a {
    background: transparent url('../images/table_closed_icon.png') no-repeat;
    background-position: center center;
}

div.table_container { background: url(../images/bg-fondo-testo.png) repeat; padding-top: 20px; }
div.table_container table { width: 90%; margin: 0 auto; }

input, select {
       min-width: 30px !important;
}


/* Search================*/
#custom-search-form{
	clear: both;
	min-height: 70px;
}

#custom-search-form label{
	float: left;
	font-size: 16px;
	margin-right: 20px;
        line-height: 14px;
        cursor: default;
	text-transform: none;
}

#custom-search-form input[type=submit]{
	background-color: #a6a8ab;
	color: #fff;
	margin: 0px 0px 0px 0px;
	border-radius: 5px;
	box-shadow: none;
        padding: 4px 10px;
        border:1px solid #253C4F;
        font-weight:bold;
        width: auto !important;
        float:left;
}

#custom-search-form input[type=text]{
	float: left;
	background-color: #f2f2f2;
	border: 1px solid #919191;
	border-radius: 0px;
	font-size: 15px;
	padding-top: 2px;
	padding-bottom: 3px;
	margin-bottom: 10px;
	margin-right:30px;
}

#custom-search-form .date_from_box:before {
	clear: both;	
}
#custom-search-form .date_from_box {
	display: inline-block;
    width: 150px;
    margin-right: 10px;
}
#custom-search-form .date_from_box input,
#custom-search-form .date_to_box input {
	max-width: 95px;
}
#custom-search-form .date_to_box {
	display: inline-block;
    width: 150px;
}
#custom-search-form .date_to_box label { min-width: 56px; }
#custom-search-form .date_from_box label { min-width: 56px; }

#custom-search-form .date_from_box img,
#custom-search-form .date_to_box img {
    margin-top: -18px;
    padding: 0 !important;
    position: absolute;
}

#custom-search-form  .years_array {
	display: inline-block;vertical-align: super;
}
#custom-search-form  .years_array  ul {
	margin:0; padding:0;
}
#custom-search-form  .years_array ul li {
	list-style-type:none; display:inline-block;background-color:#a6a8ab; margin:3px;background-image: none;
    text-align: center !important; padding:4px; width:22px; 
}
#custom-search-form  .years_array ul li a {
		display: block; color: #ffffff; font-size: 10px; font-weight: bold;
}
#custom-search-form  .years_array ul li a:hover {
	cursor: pointer;
}
#custom-search-form .submit {
	display: inline-block; vertical-align: super; 
}
#custom-search-form .submit input {
	border-radius: 5px;
}

div#esp2-rassegna_stampa .string_search  { 
	display:none; 
}
div#esp2-rassegna_stampa  .search_2 {
	display:inline-block; vertical-align: bottom; padding-bottom: 10px;
}
div#esp2-comunicati_stampa .search_2 {
	display:none; 
}


/* Pagination===========*/
.pagination {
  margin: 0;
}

.pagination ul{
    list-style-type: none;
}

.pagination ul li{
	float: left;
	width: 30px;
	height: 30px;
        padding: 0px !important;
        font-weight: normal !important;
}

.pagination ul li.newsletter{
	width: 237px;
	height: 40px;
	margin-right: 30px;
	background: url("../images/newsletter.png") transparent no-repeat center center;
}

@media only screen and (max-width: 479px) {
	.pagination ul li.newsletter{
		display: none;
	}
	
}

.pagination ul li.pager_input{
	width: 150px;background: none;
}


.pagination ul li input{
	text-align: center;
	width: 60px;
	max-width: none;
	border-radius: 0px;
	display: inline-block;
	/*padding: 4px 5px;*/
        background: #ffffff;
        min-width: 30px !important;
}

.pagination ul li a:hover{
	background-color: transparent !important;
}

.pagination ul li.pager_first a,
.pagination ul li.pager_previous a,
.pagination ul li.pager_next a,
.pagination ul li.pager_last a
 {
  display: block;
  width: 100%;
  height: 100%
}

.pagination ul li.pager_first.first.inactive{
	background: url("../images/page-back-first.png") transparent no-repeat center center;
}

.pagination ul li.pager_previous.inactive{
	background: url("../images/page-back.png") transparent no-repeat center center;
}


.pagination ul li.pager_first.first.active{
	background: url("../images/page-first.png") transparent no-repeat center center;
}

.pagination ul li.pager_previous.active{
	background: url("../images/page-prev.png") transparent no-repeat center center;
}

.pagination ul li.pager_previous{
	margin-right: 30px;
}

.pagination ul li.pager_next.active{
	background: url("../images/page-next.png") transparent no-repeat center center;
}

.pagination ul li.pager_last.last.active{
	background: url("../images/page-next-last.png") transparent no-repeat center center;
}

.pagination ul li.pager_next.inactive{
	background: none;
}

.pagination ul li.pager_last.last.inactive{
	background: none;
}
