div.size {
  position:fixed;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  background-color: rgba(128, 128, 128, 0.92);
  margin:10px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index:100;
}
