.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-2-1 {
  position: relative;
  float: left;
  background-color: transparent;
  width: 175px;
}

.panels-flexible-column-2-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-2-inside {
  padding-left: 0px;
  padding-right: 0px;
}

.panels-flexible-2-middle {
  margin-left: 175px;
}

* html .panels-flexible-2-left {
  left: 175px;
}

.panel-flexible-admin .panels-flexible-2-inside {
  padding-left: 0px;
}

.panels-flexible-2 {
  width: auto;
}

.panels-flexible-region-2-left_sidebar {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-2-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-2-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-2-main-row-inside {
  padding-right: 0px;
}

