
/**
 * @file
 * OpenLayers Main CSS
 *
 * This file holds the base CSS for the openlayers module
 *
 * @ingroup openlayers
 */

.openlayers-cck-feature-selected { border: 2px solid blue; }

.openlayers-map {
  z-index:0;
  position:relative;
}

/**
 * prevent rtl translations from mirroring
 * vector layers
 */
.openlayers-map .olLayerDiv {
  direction: ltr
}

/**
 * Controls
 */
.openlayers-controls {
  z-index: 1000;
}

body .olControlLayerSwitcher .layersDiv {
  background-color: #222222;
}
body .olControlLayerSwitcher.legacy .layersDiv {
  background-color: darkblue;
}

body .olControlAttribution {
  right: 5px;
  bottom: 5px;
}

/**
 * This is a 'sensible default' for a weird decision
 * by OpenLayers to make 404 tiles pink.
 */
body .olImageLoadError {
  background: transparent;
}

/*
 * Do not display the close button on tooltips.
 * See #1875844
 */
.openlayers-container #tooltip #tooltip_close {
  display: none;
}

/*
 * Make OpenLayers img tag behave correctly with responsive stuff.
 * See #1816826
 */
div.olLayerDiv img.olTileImage {
  max-width: none;
}

/*
 * Fix #1904424 and #1646646.
 */
label.olButton {
  display: inline;
}
