
		.group-header {
			border: 1px solid #FF0000;
			display:none;
		}
		
		.group-header-installazioni{
			border:none;
			display:block;
		}
		
		/**
 * @file
 * Styling for the ds_notizia_anteprima template.
 */

.ds_notizia_anteprima {
	margin: 0 0 10px 0;
}

.ds_notizia_anteprima > .group-header {
}

.ds_notizia_anteprima > .group-left {
	float: left;
	margin-right: 14px;
}

.ds_notizia_anteprima > .group-right {

}

.ds_notizia_anteprima.group-one-column > .group-left,
.ds_notizia_anteprima.group-one-column > .group-right {
  width: 100%;
  float: none;
}

.ds_notizia_anteprima > .group-footer {
  clear: both;
}

.ds_notizia_anteprima .float-right {
	float: right;
}

.imgInstallazioni{
	max-width:100;
	max-height:67;
	
	
	height:none;
	width:none;
}


article .entry { display:none; }
article .project-meta { background-color: #ffffff; padding:8px; text-align:left; }
.preloader .single-image { widht:300px; height: 220px; margin-bottom: 0; padding:0;      }
.preloader .single-image img {  }

/** FANCY BOX **/
/*.fancybox-skin {
    padding: 10px !important;
}
.fancybox-inner:after { display: block; visibility: visible; height: 10px; clear: both; content: ""; }
.fancybox-nav { width: 10%; visibility: visible !important; position: relative; margin: 10px 20px 0 20px; }
.fancybox-nav span {  visibility: visible !important; left: 20px; top: 100%; }
.fancybox-nav.fancybox-prev { left:-45px; }
.fancybox-nav.fancybox-next { right: -45px; }

.fancybox-title .title-prev { margin-right: 20px;  }
.fancybox-title .title-prev:hover { cursor: pointer; }
.fancybox-title .title-prev span { color: #ffffff; }
.fancybox-title .title-next { margin-left: 20px; }
.fancybox-title .title-next:hover { cursor: pointer; }
.fancybox-title .title-next span { color: #ffffff; }*/

.fancybox-title-inside-wrap  { text-align: left; }
.fancybox-title-inside-wrap .child {
    
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    line-height: 24px;
    /*margin-right: -100%;*/
    padding: 2px 20px;
    text-shadow: 0 1px 2px #222222;
    white-space: nowrap;
    border: 2px solid #FFFFFF;
}
.fancybox-nav { position: relative; display: inline-block; }
.fancybox-nav span { margin-top:0;}
.fancybox-nav.fancybox-prev { left: 0; }
.fancybox-nav.fancybox-next { right:0; }
.fancybox-title .title-prev { margin-right: 0px;  }
.fancybox-title .title-next { margin-left: 0px; }
/** FANCY BOX **/