body.installazione-embed {}


.group-header {
			border: 1px solid #00ff00;
			display:none;
		}
		
		.group-header-installazioni{
			border:none;
			display:block;
		}
		

.ds_node_full {
	margin: 0;
	padding: 0px;
}

.ds_node_full > .group-header {
	margin: 0 0 10px 0;
}

body.installazione-embed .block-installazioni .group-image,
.block-installazioni .group-image {
	float: left;
	width: 59% !important;
	margin-right: 10px;
}
.block-installazioni h2 { font-size: 13px; text-transform: uppercase; color: #000000;} /* Titolo singola installazione */
.block-installazioni .field-items p { color: #000000; margin: 0;}
.ds_node_full.node-full .group-image, 
.ds_node_full.taxonomy-term .group-image {
	float: left;
	width: 69%;
	/*margin-right: 20px;*/
	/*border:1px solid #0000ff;*/
}
.ds_node_full.taxonomy-term .group-image {
    max-width: 69%;
    max-height: 450px;
}
.ds_node_full.node-full .group-image .field-type-image img,
.ds_node_full.taxonomy-term .group-image .field-type-image img,
.group-image img,
.ds_node_full .field-type-image img {
	width: 100% !important;
        max-height: 500px;
}


.ds_node_full > .group-page_content {
	padding: 4px 0 0 0; height: 500px;margin-left: 70%;
}

.ds_node_full > .group-footer {
  margin:10px 0 0 0;
  clear: both;
}

/*** Adds per Node_Full Termini Risorse Umane ***/

.ds_node_full.risorse_umane > .group-header {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
}

.ds_node_full.risorse_umane .group-page_content {
	padding: 4px 0 10px 0;
        
}


.ds_node_full.risorse_umane .group-page_content .field-name-name-field  {
	padding: 4px 0 0 0;
	display: table-cell;
	vertical-align: middle;
	height: 90px;
}

.ds_node_full.taxonomy-term.risorse_umane .group-image  {
	width: auto;
}

.ds_node_full.taxonomy-term.risorse_umane .group-image img  {
	width: auto !important;
	margin-left: 10px;
	top:  0;
    left: 0;
}



pics { 
    height:  232px; 
    width:   232px; 
    padding: 0; 
    margin:  0; 
}

.pics img { 
    padding: 15px; 
    border:  1px solid #ccc; 
    background-color: #eee; 
    width:  200px;
    height: 200px;
    top:  0;
    left: 0
}


article .entry { display: none; }
.group-image {
}

.group-page_content {
    
}

/** Popup singola installazione **/
.installazione-embed .group-image img { width: auto !important; }

