/*** 
* PRODUCTS LIST
**/
#tax_title_box {
}
#tax_title_box div {
    display: inline-block;
}
#tax_title_box:after {
    display: block;
    background: url('/sites/all/themes/goodnex_sub/images/bg_forbice_trasp.png') no-repeat ; 
    height: 23px;
    content: "";
    visibility: visible !important;
}

#tax_title_box .tax_title {
    width: 80%;
    padding-top: 10px;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 22px;
}
#tax_title_box .tax_title ul { margin: 0; padding: 0; }
#tax_title_box .tax_title ul li { list-style-type: none; display: inline-block; vertical-align: middle;  }
#tax_title_box .tax_title ul li img { max-height: 40px;}
#tax_title_box .tax_prod_count {
    /*width: 19%;*/
    padding-top: 10px;
    font-family: 'Open Sans Light Italic', sans-serif;
    font-size: 14px;
    text-align: right; padding-right: 10px;
}


#prod_list {
    font-family: 'Opens Sans', sans-serif; color: #000000;
}

#prod_list ul { margin: 0; padding: 0; }
#prod_list ul li { list-style-type: none; display: inline-block; float: left; margin: 20px 30px 20px 0; width: 290px; min-height: 50px;  }
/* #prod_list ul li  */
.prod_img .main_img_zoom img:hover {
    /** Cursor png for all browser, except IE **/
    cursor: url("/sites/all/themes/goodnex/images/icons/zoom_ico_20.png"), url("/sites/all/themes/goodnex/images/icons/zoom_ico_20.cur"), pointer;
} 
.prod_img_box, .prod_video_box { position: relative; border: 1px solid #c6c6c6;  text-align: center; }
.prod_img_box .prod_img_zoom ,
.prod_video_box .prod_img_zoom 
{ 
    width: 65px; height: 65px;
    position: absolute; display: inline-block;  left: 0; bottom: 0; 
    background: transparent url(../images/zoom.png) no-repeat; 
    background-position: -3px 0px;
    z-index: 10;
}
.prod_img_box img { max-width: 100%; max-height: 100%; }
.prod_video_box img { max-width: 100%; max-height: 100%; }

#prod_list .prod_img_box {height: 200px; width: 290px;}
#prod_list .prod_video_box {height: 200px; width: 290px;}

#prod_list ul li .prod_name_box { }
#prod_list ul li .prod_name_box span { height: 24px;float: left;   }
#prod_list ul li .prod_name_box .prod_name { font-size: 16px; }
#prod_list ul li .prod_name_box .prod_tax { font-size: 13px; font-style: italic; margin-left: 5px; margin-right: 5px; color: #828282; }
#prod_list ul li .prod_name_box .prod_relevance { display: none; font-size: 10px; font-style: italic; color: #828282; }
#prod_list ul li .prod_name_box .prod_link {float: right; font-size: 12px; }

/*** 
* SINGLE PRODUCT 
**/
.page-product section#content {
    background: none;
}
#product_page #title_box {
    margin: 30px 0;
}
#product_page #title_box span { margin: 0 5px; }
#product_page #title_box .title_tax {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    color: #333333;
    text-decoration: underline;
}
#product_page #title_box .title_prodsku {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #000000;
    
}
#product_page .prod_img { text-align: center; }
#product_page .prod_img:hover { cursor: pointer; }
#product_page ul li { display: inline-block; list-style-type: none;  }
#product_page img { max-width: 100%; max-height: 100%; }
#product_page .p-container { background-color: #f8f8f8; margin-top: 10px;  }


/** Features **/

#features-block #tabs-header { min-height: 30px; font-size: 14px; letter-spacing: 0.02em;}
#features-block #tabs-header > span { display: inline-block; /*width: 160px;*/ float: right; line-height: 25px; height: 100%; font-size: 12px;}
#features-block #tabs-header > span img { line-height: 25px; vertical-align: middle; margin-right: 4px; }
#features-block #tabs-header ul { display: inline-block;margin: 0; padding: 0; }
#features-block #tabs-header ul li { display: inline-block; list-style-type: none;text-transform: uppercase;  }
#features-block #tabs-header ul li.active { font-weight: bold; }
#features-block #tabs-header ul li:hover {  cursor: pointer; text-decoration: underline;  }
#features-block #tabs-header ul li:after { content: ""; margin-left: 4px;margin-right: 4px;  }
#features-block #tabs-header ul li:last-child:after { content: "";}

#features-block #tabs-container {
    min-height: 100px;
    border: 1px solid #bbb; /* stroke */
    background-color: #fbfbfb; /* layer fill content */
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff; /* outer glow and inner shadow */
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff; /* outer glow and inner shadow */
    box-shadow: 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff; /* outer glow and inner shadow */
}

#features-block #tabs-container ul { margin: 0; padding: 0; }
#features-block #tabs-container  ul  li { list-style-type: none; display: inline-block; vertical-align: top;word-wrap: break-word; }
#features-block #tabs-container > ul > li {  display: none; padding: 20px; }

#features-block #tabs-container > ul > li.active { display: block; }
#features-block #tabs-container  ul  li img { }

    /** ICON TABS **/
    ul.esp2-icon-container { text-align: left;  }
    ul.esp2-icon-container li {
        width: 90px; /*height: 90px; */ margin-bottom: 5px; text-align: center;
    }
    ul.esp2-icon-container li div { /*height: 100%;*/ position: relative; }
    ul.esp2-icon-container li div img { height: 60px !important;margin-top: -20px; }
    ul.esp2-icon-container li div img.esp2-icon {  /*max-height: 100px !important;*/ }
    ul.esp2-icon-container li span { 
        position: relative; bottom: 2px; display: block; text-align: center; width: 100%;
    }
    /** ICON TABS **/
    
    /** DOCS **/
    #DOCS { position: relative; }
    #DOCS #docs_header { 
        margin: 0; padding: 0px; display: block; vertical-align: top; background-color: #494949;  
         text-align: center; 
    }
    #DOCS #docs_header ul {}
    #DOCS #docs_header ul li {  }
    #DOCS #docs_header ul li:last-child { border-right: none; }
    #DOCS #docs_header ul li:hover { background: transparent url('/sites/all/themes/goodnex_sub/images/bg_submenu-h.png') no-repeat bottom center; } 
    #DOCS #docs_header ul li.active { background: transparent url('/sites/all/themes/goodnex_sub/images/bg_submenu-h.png') no-repeat bottom center; } 
    #DOCS #docs_header ul li a:hover { color: #ffffff;  } 
    #DOCS #docs_header ul li a { 
        display: block;  padding: 0 20px; margin: 8px;
        text-transform: uppercase; font-size: 15px;color: #f9f9f9; font-weight: 300; 
        border-right: 1px solid #f9f9f9;  
    }
    
    #DOCS #docs_container {}
    #DOCS #docs_container ul { }
    #DOCS #docs_container > ul > li { /*max-width: 33%;*/ }
    #DOCS #docs_container .doc_tax_header_1 { color: #000000; font-size: 14px; font-weight: bold; padding: 4px; text-align: left;}
    #DOCS #docs_container ul.doc_tax_container_1 { background-color: #fafafa; }
    #DOCS #docs_container ul.doc_tax_container_1 li.doc-link { padding: 5px; color: #333333; font-size: 13px; width: 100%; display: block !important; word-wrap: break-word;}
    #DOCS #docs_container ul.doc_tax_container_1 li.doc-link a { min-height: 19px; display: inline-block; width: 20px; margin-right: 4px; float: left; }
    #DOCS #docs_container .doc-single-container { width: 100%; display: none; }
    #DOCS #docs_container li.doc-single-container:first-child { display: block; }
/*    #DOCS div.doc_tax_header_0 { text-transform: uppercase;  padding: 4px; text-align: center;}
    #DOCS div.doc_tax_header_0 ul {  }
    #DOCS div.doc_tax_header_0 ul li {  }
    
    #DOCS div.doc_tax_header_1 ul li.doc_detail { color: #333333; font-size: 13px; }*/
    
    /** DOCS **/
    
    
/** Features **/

/** Gallery **/

#resources-block #gallery-tags { height: 40px; position: absolute; width: 80%; top: 3px; left: 3px; }
#resources-block #gallery-tags span { font-family: 'Open Sans Light', sans-serif; font-size: 19px; height: 40px; margin: 3px 10px; }
#resources-block #gallery-tags span:hover { cursor: pointer; }
#resources-block #gallery-tags span.image:before { content: url(/sites/all/themes/goodnex_sub/images/eye.png);display: inline-block; margin-right: 5px;  } 
#resources-block #gallery-tags span.video:before {content: url(/sites/all/themes/goodnex_sub/images/eye.png);display: inline-block;margin-right: 5px; } 
#resources-block #gallery-container {
    min-height: 155px;
    background-color: rgba(255,255,255,.7);padding-top: 30px; 
}
#resources-block #gallery-container ul { margin: 0; padding: 0; min-width: 10000px; }
#resources-block #gallery-container ul li { 
    list-style-type: none; display: inline-block; float: left; margin: 10px;
}

#resources-block #gallery-container ul li .prod_img_box,
#resources-block #gallery-container ul li .prod_video_box { 
height: 133px; width: auto; 
border: 1px solid rgba(0,0,0,.15); /* stroke */
background-color: #fff; /* layer fill content */
text-align: center;
}

#resources-block #gallery-container ul li .prod_img_box a:before, 
#resources-block #gallery-container ul li .prod_video_box a:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#resources-block #gallery-container ul li .prod_img_box a, 
#resources-block #gallery-container ul li .prod_video_box a 
{ 
    display: block; 
    height: 100%; 
    text-align: center; 
}


#resources-block #gallery-container ul li img { max-width: 100%; max-height: 100%; margin:auto auto; /*width: 100%; height: 100%;*/ vertical-align: middle; display: inline-block; }
/** Gallery **/

/** Sections **/
#sections-block ul  { margin: 0; padding-top: 20px !important; background-color: #ffffff; }
#sections-block ul li {
    height: 220px; width: 200px; position: relative;
}
#sections-block ul li a { display: block; height: 100%; text-align: center;}
#sections-block .caption_box { display: block; position: absolute; z-index: 50; width: 100%; text-align: center; font-size: 13px; font-weight: bold; }
#sections-block li a { padding-top: 25px; }
/** Sections **/

/** Technical **/
#technical-block { /* background-color: #f9f9f9;*/ }
#technical-block table { width: 100%; font-size: 13px; line-height: 29px; color: #333333; border-collapse: collapse;  }
#technical-block table thead { font-size: 15px; border: 1px solid #4b4b4b; background-color: #4b4b4b; color: #fafafa; text-transform: uppercase; }
#technical-block table thead th { text-align: center; font-weight: 300; }
#technical-block table tr {}
#technical-block table tr td {  border: 1px solid #c7c7c7; padding:4px 8px; } 
#technical-block table tr td.left { width: 35%;} 
#technical-block table tr td.right { /*width: 60%; */ }
/** Technical **/

/** Accessories **/
#accessories-block #accessories-container{  background-color: #f9f9f9; padding:10px;  }
#accessories-block ul {  margin: 0; }
#accessories-block ul li {  width: 310px; vertical-align: top;}
#accessories-block .acc_tooltip { display: none; position: absolute;  text-align: center;
width: 171px;height: 170px;  padding: 10px;  margin-top: -189px; margin-left: -40px;
background-clip: padding-box; /* prevents bg color from leaking outside the border */
/*background-color: #fff;  layer fill content */
background: url(/sites/all/themes/goodnex_sub/images/bg_acc_tooltip.png) no-repeat;
/*-moz-box-shadow: 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff;  outer glow and inner shadow 
-webkit-box-shadow: 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff;  outer glow and inner shadow 
box-shadow: 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff;  outer glow and inner shadow */
}
#accessories-block .acc_tooltip img {
    max-height: 95%;
}
#accessories-block .acc_trigger { padding: 4px;}
#accessories-block span.acc_marker { 
    display: inline-block; vertical-align: middle;width: 17px; height: 17px; margin-right: 0px; 
    background: url(/sites/all/themes/goodnex_sub/images/full-circle.png) no-repeat; 
}
#accessories-block .acc_trigger a:hover span.acc_marker { background: url(/sites/all/themes/goodnex_sub/images/full-circle-hover.png) no-repeat; cursor: pointer; }
#accessories-block span.acc_marker.empty { 
    background: url(/sites/all/themes/goodnex_sub/images/empty-circle.png) no-repeat; 
}
/*#accessories-block .acc_trigger a.noImage:hover,*/
#accessories-block .acc_trigger a:hover span.acc_marker.empty { 
    background: url(/sites/all/themes/goodnex_sub/images/empty-circle.png) no-repeat !important;
    cursor: default !important;
}

#accessories-block span.acc_name { font-size: 13px; color: #333333; line-height: 24px; }
/** Accessories **/


/*.main_zoom img*/ 
img.zoom_thumb { max-width: 400px !important; border: 1px solid red; } 
.zoomWrapperImage img { max-width: none !important; max-height: none !important;}
img.fancybox-image { 
    /*width: 500px;*/max-width: none !important; max-height: none !important;
}
#magnifier-c { z-index: 9999; background-color: #ffffff; }
#magnifier-c img {
    max-width: none !important; max-height: none !important;
}