
/*** Rules for Small Monitors ***/
body.smallMonitor {
    font-size: 95% !important;
}



/*** Rules for Very Small Monitors ***/
body.verySmallMonitor {
    font-size: 90% !important;
}


