/**
 * @file
 * Styling for the ds_node_full template.
 */

.ds_node_full {
	margin: 0;
	padding: 0px;
}


.ds_node_full > .group-header {
	margin: 0 0 10px 0;
}


.ds_node_full .group-image, 
.ds_node_full.taxonomy-term .group-image {
	float: left;
	width: 50%;
	margin-right: 20px;
}

.ds_node_full .group-image .field-type-image img,
.ds_node_full.taxonomy-term .group-image .field-type-image img,
.ds_node_full .field-type-image img {
	width: 100%;
}


.ds_node_full > .group-page_content {
	padding: 4px 0 0 0;
}

.ds_node_full > .group-footer {
  margin:10px 0 0 0;
  clear: both;
}

/*** Adds per Node_Full Termini Risorse Umane ***/

.ds_node_full.risorse_umane > .group-header {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
}

.ds_node_full.risorse_umane .group-page_content {
	padding: 4px 0 10px 0;
}


.ds_node_full.risorse_umane .group-page_content .field-name-name-field  {
	padding: 4px 0 0 0;
	display: table-cell;
	vertical-align: middle;
	height: 90px;
}

.ds_node_full.risorse_umane .group-page_content .field-name-name-field h2  {
	font-size: 180%;
}

.ds_node_full.taxonomy-term.risorse_umane .group-image  {
	width: auto;
}

.ds_node_full.taxonomy-term.risorse_umane .group-image img  {
	width: auto !important;
	margin-left: 10px;
}



