/*IE 8 + 9*/
.menu ul ul {z-index: 1001; margin: 0; left: 13.1em; top: 12px \0/IE9;}
.menu ul ul ul {z-index: 1001; margin: 0; left: 13.1em; top: 13px \0/IE9;}
.carousel-control {font-size: 50px \0/IE9;}
#sidebar_wrap .form-actions {padding: 0px 0px 0px 0px \0/IE9;}

/*IE 7*/
.ie7 #main-menu .menu li {padding: 0px;}
.ie7 .menu ul ul {z-index: 1001; margin: 0; left: 15.15em; top: -1px;}
.ie7 #slider {min-height: 241px !important;}
.ie7 #panels .span3 {width: 205px !important; }

.ie7 #footer .span3 {width: 200px !important;}
.ie7 #button_wrap.span2 {width: 120px !important;}
.ie7 #highlight .span10 {width: 740px !important;}
.ie7 .blog_front.span3 {padding:0px !important; width: 210px !important;}

/*IE 8*/
.ie8 .menu ul ul {z-index: 1001; margin: 0; left: 15.15em; top: 13px;}
.ie8 .menu ul ul ul {position: static;}
.ie8 #social {width: 400px;}
.ie8 .carousel-control {top: 40% !important;}
.ie8 #slider {min-height: 241px !important;}
.ie8 #panels .span3 {width: 205px !important; }
.ie8 .blog_front.span3 {padding:0px !important; width: 210px !important;}
.ie8 .blog_front.span3 .field-items img {height: 120px !important;}
.ie8 #footer .span3 {
    width: auto;
    text-align: left;
    padding-left: 16px;
}
.ie8 #button_wrap.span2 {width: 120px !important;}
.ie8 #highlight .span10 {width: 740px !important;}
.ie8 .container {width: 1170px;}
.ie8 .span12 {width: 1170px;}
.ie8 .span11 {width: 1070px;}
.ie8 .span10 {width: 970px;}
.ie8 .span9 {width: 870px;}
.ie8 .span8 {width: 770px;}
.ie8 .span7 {width: 670px;}
.ie8 .span6 {width: 570px;}
.ie8 .span5 {width: 470px;}
.ie8 .span4 {width: 370px;}
/*.ie8 .span3 {width: 270px;} */
.ie8 .span2 {width: 170px;}
.ie8 .span1 {width: 70px;}

.ie8 img {
  max-width: none !important;
}

.ie8 .ei-title {
  filter: alpha(opacity = 70);
  background: #000000;
}

.ie8 .ei-title h2, .ie8 .ei-title h3  {
  color: #FFFFFF !important;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
  filter: alpha(opacity = 100) !important;
  background: #000000 !important;
}

.ie8 #tk_nav_homeblocks {
	font-weight: normal !important;
	filter: alpha(opacity = 70);
	background: #FFFFFF;
}

.ie8 .portfolio-item-first h3 {
	font-size: 110% !important;
	font-weight: 500 !important;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
	filter: alpha(opacity=0) !important;
}


.ie8 .portfolio-item-first .mask, 
.ie8 .portfolio-item-first .mask .portfolio_tags {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
	filter: alpha(opacity = 0) !important;

}


.ie8 .portfolio-item-first:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=70)" !important;
	filter: alpha(opacity=60) !important;
	background-color: #cc000f !important;
}

.ie8 .portfolio-item-first:hover .mask .portfolio_tags {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=70)" !important;
	filter: alpha(opacity=100) !important;
}


.ie8 .portfolio-item-first:hover .mask h3, 
.ie8 .portfolio-item-first:hover .mask .portfolio_tags .field-item {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
	filter: alpha(opacity=100) !important;
}

.ie8 .portfolio-item-first:hover .mask h3, .ie8 .portfolio-item.portfolio-item-first:hover .mask h3 {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=90)" !important;
	filter: alpha(opacity=90) !important;
}


.ie8 .tk-panels,
.ie8 .tk-portfolio, 
.ie8 #tk-highlights.tk-highlights {
	border: thin solid #999;	
}

