/* Body and Content */
a {
  color: #000;
}

a:hover {
  color: #474747;
  text-decoration: none;
}

#main_title {
  background: #000; 
}

.standout_text {
  background-color: #000; 
}

thead {
  background-color: #000; 
}

.view-popular-tags a:hover {
  background-color: #000; 
}

/* Panel */
.panel_icon {
  background: #000; 	
}

/*Menu*/
.menu ul {
  border-top: 2px solid #000 !important;
}

#main-menu li a.active {
	color: #000;
}

.menu ul ul {
	border-top: 2px solid #000;
}

#main-menu li a:hover, #main-menu .menu ul li a:hover  {
	color: #000;
}

/*Portfolio*/
.portfolio-item-first .mask {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Pricing Table */
.pricehover:hover .price {
  background:#000; 
}

.pricehover:hover .price {
  border-color: #000;
}

/* Widgets */
.popular_tags a:hover, .ad_block a:hover, .tabs a.active {
  background: #000;
}

/*Highlight*/
#highlight {
  background: #000; 
}

/*Elastic Slider*/
.ei-slider-thumbs li a {
  background: #000 ;
}