/* Body and Content */
a {
  color: #7c7c7c;
}

a:hover {
  color: #ababab;
  text-decoration: none;
}

#main_title {
  background: #7c7c7c; 
}

.standout_text {
  background-color: #7c7c7c; 
}

thead {
  background-color: #7c7c7c; 
}

.view-popular-tags a:hover {
  background-color: #7c7c7c; 
}

/* Panel */
.panel_icon {
  background: #7c7c7c; 	
}

/*Menu*/
.menu ul {
  border-top: 2px solid #7c7c7c !important;
}

#main-menu li a.active {
	color: #7c7c7c;
}

.menu ul ul {
	border-top: 2px solid #7c7c7c;
}

#main-menu li a:hover, #main-menu .menu ul li a:hover  {
	color: #7c7c7c;
}

/*Portfolio*/
.portfolio-item-first .mask {
  background-color: rgba(124, 124, 124, 0.7);
}

/* Pricing Table */
.pricehover:hover .price {
  background:#7c7c7c; 
}

.pricehover:hover .price {
  border-color: #7c7c7c;
}

/* Widgets */
.popular_tags a:hover, .ad_block a:hover, .tabs a.active {
  background: #7c7c7c;
}

/*Highlight*/
#highlight {
  background: #7c7c7c; 
}

/*Elastic Slider*/
.ei-slider-thumbs li a {
  background: #7c7c7c ;
}