/*=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================*/

@font-face{ 
	font-family: 'Open Sans Light';
	src: url('../fonts/OpenSans-Light-webfont.eot');/* IE9 */
	src: url('../fonts/OpenSans-Light-webfont.eot?iefix') format('eot'),
	     url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
	     url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	     url('../fonts/OpenSans-Light-webfont.svg#webfont') format('svg');
}
@font-face{ 
	font-family: 'Open Sans Light Italic';
	src: url('../fonts/OpenSans-LightItalic-webfont.eot');/* IE9 */
	src: url('../fonts/OpenSans-LightItalic-webfont.eot?iefix') format('eot'),
	     url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
	     url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
	     url('../fonts/OpenSans-LightItalic-webfont.svg#webfont') format('svg');
}
@font-face{ 
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular-webfont.eot');/* IE9 */
	src: url('../fonts/OpenSans-Regular-webfont.eot?iefix') format('eot'),
	     url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
	     url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	     url('../fonts/OpenSans-Regular-webfont.svg#webfont') format('svg');
}
@font-face{ 
	font-family: 'Open Sans Bold';
	src: url('../fonts/OpenSans-Bold-webfont.eot');/* IE9 */
	src: url('../fonts/OpenSans-Bold-webfont.eot?iefix') format('eot'),
	     url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
	     url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
	     url('../fonts/OpenSans-Bold-webfont.svg#webfont') format('svg');
}

html, body { 
    font-family: 'OpenSans', sans-serif !important; font-size: 13px; color: #747474; 
    background: url('../images/bg_body-2.jpg') repeat-x #F7F7F7;
    background-attachment: fixed;
    background-position: top left;
}

h1, h2, h3, h4, h5, h6 {
    color: #373737;
    font-family: "Open Sans", sans-serif;
}


.page-header {

    /*border-bottom: 1px solid #EBEBEB;*/
    border-bottom: none;
    margin-bottom: 10px;
    padding: 0 0 20px 0;
}
.page-header h1 {
    color: #000000;
    font-family: 'Open Sans Light' !important;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}




/** 
* Pages with custom background image :
* page-chi-siamo
* page-ultime-notizie
* page-node-90 (press area)
* page-node-212 (press area -> comunicati stampa)
* page-node-211 (press area -> rassegna stampa)
* page-contact-page 
* page-risorse-umane
* page-node-201 (invia cv)
*/
section#content:before {
    
}
section#content {
    background: url('../images/bg_cartamodello_2.png') repeat top left;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

/** default background for home page, referenze,  **/
body.page-products section#content,
body.page-node-213 section#content,
body.front section#content {
    background: none;
}
body.front section#content {
    margin-top: -45px;    
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/** FORMS  */
label {
    /*display: block !important;*/
    padding:0;margin: 5px 0;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 13px; font-weight: normal; text-transform: uppercase;
}
input, select, textarea {
    border: 1px solid #494949; /* stroke */
    background-color: #fff; /* layer fill content */
    padding: 6px;
    font-size: 12px;
    color: rgba(0,0,0,0.9);
    min-width:300px;
}
input[type="text"], input[type="password"], input[type="email"] {
    /*width: 100%;*/ padding-left: 10px; background-color: #fff; 
    border: 1px solid #494949; /* stroke */
}

/*input[type="checkbox"] {
    min-width:3px;
	visibility: hidden;
}
input[type="checkbox"]:before { 
    content:""; display:inline-block; width:16px; height:16px; background-color:red; visibility: visible;
}
input[type=checkbox]:checked:before { background:green; }*/

input[type="checkbox"] { display: none; }
input[type="checkbox"] + label:before {
    content: url(../images/bg_checkbox.png);
    /*background:transparent url(../images/bg_checkbox.png) no-repeat;*/
    /*background-position-y: 2px;*/
    height: 16px;
    width: 20px;
    display: inline-block;
    padding: 0 0 0 0px;
}   
input[type="checkbox"]:checked + label:before {
     content: url(../images/bg_checkbox_on.png);
    /*background: #0080FF;*/
}
input[type="checkbox"] + label { vertical-align: middle;    height: 20px; }

input[type="submit"] {
    width: 124px; height: auto; border: 1px solid #bbb; font-size: 12px;color: rgba(0,0,0,0.9);
    -moz-border-radius: 10px / 9px;
    -webkit-border-radius: 10px / 9px;
    border-radius: 10px / 9px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: inset 0 2px 0 #fff; /* inner shadow */
    -webkit-box-shadow: inset 0 2px 0 #fff; /* inner shadow */
    box-shadow: inset 0 2px 0 #fff; /* inner shadow */
}
.button.default { background-color: #ffffff; }
.button.default:hover { background-color: #ffffff !important; }

/** FORMS  */

.region-header-right { text-align:right; }
.region-header-left { text-align:left; }
.region-header-right #lang-dropdown-select-language_content { float: right; }
.form-item-lang-dropdown-select { text-align:right; margin:0 !important; }
#lang-dropdown-select-language { float:right; }
.ddsDefault .dd-select { background:none !important; border:none; padding-right: 5px; }
.ddsDefault .dd-option { padding: 5px !important; }
#logo_container {  text-align:center; }
#logo_container #logo { float:none;  margin-top:5px; }

#header {
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background: transparent  no-repeat center bottom;
    background-image: url(../images/ago_filo.png);
    background-repeat: no-repeat;
    background-position: center bottom; 
    background-size: 100%;
}
	@media only screen and (max-width: 999px) {
            #header {
                background-size: contain;
            }            
	}
	@media only screen and (min-width: 1064px) {
            #header {
                background-size: auto;
            }            
	}



.menu-container {
    border:0;
    text-align: center;
    margin-top:5px;
}
.menu-container .navigation { float: none; }
.navigation > div > ul > li {
    display: inline-block;
    float: none;
}
.navigation > div > ul > li > a {
    border: none; font-size: 15px;
}

.navigation a {
    font-weight: 400;
    font-family: 'OpenSans', sans-serif !important; 
    letter-spacing: 0.1em;
}


.navigation > div > ul > li:hover > a, .navigation > div > ul > li > a.hover   { 
    background-color: none !important; color:#1E1E1E; text-decoration: none !important; 
}
/*color-14 .navigation > div > ul > li.current-menu-item > a {
    background-color: none; color:#1E1E1E; text-decoration: underline !important;  
}*/
.color-14 .navigation > div > ul > li:hover > a,
.color-14 .navigation > div > ul > li.current-menu-item > a
{
	background-color: transparent !important; color: #1E1E1E; font-weight: bold;
}
.color-14 .navigation > div > ul > li:hover > a {
    /*text-decoration: underline !important;*/ 
}

/** Resize menu when header is fixed (scrolling)  */
#header.fixed { padding: 0;}
#header.fixed  .navigation > div > ul > li a {
    font-size: 12px;
}
#header.fixed #logo {
    width: 220px;
}
#header.fixed nav ul li {
    height: 50px; vertical-align: baseline;
}



.md-bullet {
  border-radius: 6px;
  height: 12px;
  width: 12px;
  background-color: #b9b9b9 !important;
}
.md-bullet.md-current {
    border-radius: 6px;
    height: 12px;
    width: 12px;
    background-color: #7d7d7d !important;
}
.md-bullet a {
    background: none !important;
}

/***  FOOTER  **/
#footer {
    font-family: 'Open Sans Light', sans-serif;
    position: relative;
    background-color: #fafafa;
    color: #737373;
    padding: 20px 0 20px;
    /*font-family: "Open Sans", sans-serif;*/
    font-size: 12px;
    bottom: 0;
}

/***  FOOTER  **/

/***  HOME PAGE **/
.inprimopiano-box  { 
    position: relative; display: inline-block; width: 32%; min-height: 30px; float: left; 
    font-family: "Open Sans Light", sans-serif;
}
.inprimopiano-box > div >  h3 > span { 
    /*float: right;*/ 
    /*padding-right: 10px;*/ 
    /*padding-top: 2px;*/  
    margin-left: 10px;
}
.inprimopiano-box > div >  h3 {
    font-family: "Open Sans Light", sans-serif;
    color: #747474;
    font-size: 21px;
    font-weight: 200;
    text-align: center;
}

.inprimopiano-box div.content-tip {
    display: none;
}

/******  */
.view-home-highlights .node-portfolio-item .content { display: none; }
.view-home-highlights .view-content {
    position: relative;
}
.view-home-highlights .view-content img {
    height: auto;
    padding-bottom: 0 !important;
    width: auto;
}


div#home-tooltip {
    display: none;
    position: absolute;
    top: -159px;
    z-index: 100000;
}
div#home-tooltip #home-tooltip-body {
        position: relative;
        padding: 6px;
        width: 308px;
        height: 124px;
        opacity: .99; /* layer alpha */
        border-top: 1px solid #bbb; /* stroke */
        border-left: 1px solid #bbb; /* stroke */
        border-right: 1px solid #bbb; /* stroke */
       
        -moz-border-radius: 10px ;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #fff; /* layer fill content */
        -moz-box-shadow: 3px 4px 9px 0 rgba(120,119,119,.6), 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff; /* drop shadow, outer glow and inner shadow */
        -webkit-box-shadow: 3px 4px 9px 0 rgba(120,119,119,.6), 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff; /* drop shadow, outer glow and inner shadow */
        box-shadow: 3px 4px 9px 0 rgba(120,119,119,.6), 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff; /* drop shadow, outer glow and inner shadow */

}

div#home-tooltip #home-tooltip-body div.inner_link {
    position: absolute; bottom: 10px; right: 10px; display: inline; 
}
div#home-tooltip #home-tooltip-body div.inner_link a:link {
    text-decoration: underline; font-weight: 600; 
}
div#home-tooltip #home-tooltip-body div.inner_link a:hover {
    text-decoration: none;
}
div#home-tooltip img { display: inline-block; float: left; max-width: 105px; max-height: 110px; margin-right: 8px; margin-bottom: 8px; }
div#home-tooltip #home-tooltip-bottom {
    background: url('../images/bg_home-tooltip2.png') no-repeat center bottom;
    height: 23px; 
}




.before-content-right { position: absolute; right: 5%; top:200px;z-index: 89; }
#puro-stile-italiano { 
    right: 5%; position: relative; z-index: 90; 
}
.author-about { display: none !important; }

/** Articles **/
article .entry h2 {
    font-family: 'Open Sans Light'; font-size: 22px; line-height: 26px;
}

article .entry .article-img {
    float: left; display: inline-block; margin-right: 10px; margin-bottom: 10px;
}
article .entry .article-title {
    margin-top: 10px;
}
article .entry .article-title h2 {
    font-family: 'Open Sans Light';
    font-size: 22px;
}
article .entry .article-body {
    height: 100%;
}
/** Articles **/

/** Page News **/
.view-notizie .node-news {
    background: url(../images/bg-fondo-testo.png) repeat; 
    padding: 10px; 
    /*margin-bottom: 20px;*/
}
.views-row {
    padding:0;
    margin-bottom: 20px;
}
.views-row:before, /*.node-news:before,*/ node-article:before { 
    background: url('../images/bg_top-border.jpg') repeat-x;
    height: 1px;
    display: block; 
    content: "";
    visibility: visible !important;
}
body.front .views-row:before, /*.single-news:before,*/ node-article:before { 
    background: none;
}
body.front .views-row:after, /* .single-news:after, */ node-article:after {
    background: none;
}

.views-row:after, node-article:after {
    display: block; 
    background: url('../images/bg_forbice.png') no-repeat ; 
    height: 26px;
    content: "";
    visibility: visible !important;
}
.view-notizie .article-image {
    float: left;display: inline-block; /*border: 1px solid gray;*/ margin-right: 10px; width: 300px; min-height: 200px; 
}
.view-notizie .article-image a { display: block; height: 100%; text-align: center;}
.view-notizie .article-image img { max-width: 300px; max-height: 200px; }
.view-notizie .article-date {
    float: right;font-family: 'Open Sans Light Italic'; font-size: 12px;  font-weight: 600;
}
.view-notizie .article-title h2 {
    font-family: 'Open Sans Light';
    font-size: 18px;
    font-weight: 400;
}
.view-notizie.article-text {
    font-size: 14px;  font-weight: 300;color: #000000;
}
.view-notizie .read-more {
    text-align: right;
}
.view-notizie .read-more a { color: #000000; text-transform: uppercase; text-decoration: underline; font-size: 13px; }
.view-notizie .read-more a:hover { text-decoration: none; }


.single-news .entry{
    background: url(../images/bg-fondo-testo.png) repeat; padding: 10px; 
}
.single-news .content:before {
    background: url('../images/bg_top-border.jpg') repeat-x;
    height: 1px;
    display: block; 
    content: "";
    visibility: visible !important;
}
.single-news .content:after {
    display: block; 
    background: url('../images/bg_forbice.png') no-repeat ; 
    height: 26px;
    content: "";
    visibility: visible !important;
    padding: 0 !important;
    /*margin-bottom: 20px;*/
}
.single-news { color: #000000;font-size: 15px; font-weight: normal;}
.single-news .article-image  { display: inline-block; float: left; max-width: 320px; text-align: center;}
.single-news .article-image img { max-width: 300px; max-height: 200px; }
.single-news .article-date {
    font-family: 'Open Sans'; font-style: italic; font-size: 16px;  font-weight: normal; 
}
.single-news .article-title h2 {
    font-family: 'Open Sans Light';font-size: 22px;font-weight: normal; color: #333333; 
}
/** Page News **/

/** Page ChiSiamo **/
div.entry { 
    background: url(../images/bg-fondo-testo.png) repeat; 
    padding-top: 1px; 
    margin-bottom: 0px;
    overflow: hidden;
    border-bottom: none;
}
div.entry > * {
    padding: 0 20px; 
}

/** Page ChiSiamo **/







/** Area Stampa **/
.comunicati-stampa {
    display:block; clear: both;
}
.comunicati-stampa tr {
    font-size: 15px; color: #000000;
}
.comunicati-stampa table {
    background-color: transparent !important;
}
.comunicati-stampa table tr td {
    padding: 10px;
}

/** Contact form **/
.contact-form .form-item-name:before {
    content: "";
}
.contact-form .form-item-mail:before {
    content: "";
}
.contact-form .form-item-subject:before {
    content: "";
}
.contact-form .form-item-message:before {
    content: "";
}
#contact-info h5 { font-family: 'Opens Sans', sans-serif; font-size: 16px; font-weight: normal; }
#contact-info p { font-family: 'Open Sans Light', sans-serif; font-size: 13px; }

.page-contact-page h2 {
    font-size: 16px; font-weight: normal;
}
.page-contact-page section#content .content .panel-flexible {
    background: url(../images/bg-fondo-testo.png) repeat; 
    padding: 10px;
}
.page-contact-page section#content .content  {
    background: url('../images/bg_top-border.jpg') repeat-x;
    height: 1px;
    display: block; 
    content: "";
    visibility: visible !important;
}

.page-contact-page .test-panel-left {
    width: 380px;
}
.page-contact-page .panels-flexible-column-3-main {
    width: 560px;
}



.page-contact-page input,
.page-contact-page select,
.page-contact-page textarea {
    border: 1px solid #494949; /* stroke */
    background-color: #fff; /* layer fill content */
    padding: 6px;
    font-size: 12px;
    color: rgba(0,0,0,0.9);
}
/*#contact-site-form label, #comment-form-wrapper label,*/
.page-contact-page label {
    display: block !important;
    padding:0;
    margin: 5px 0;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 13px;
    font-weight: normal;
}
.page-contact-page div.form-item {
    display: inline-block;
    /*margin: 0 0 10px 0;*/
    margin-bottom: 10px !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 400px;
}
.page-contact-page .contact-form input[type="text"] {
    width: 100%; padding-left: 10px;
}
.page-contact-page .form-actions {
    width: 400px; text-align: right;
}
.page-contact-page .contact-form input[type="submit"] {
width: 124px;
height: 24px;
border: 1px solid #bbb; /* stroke */
-moz-border-radius: 10px / 9px;
-webkit-border-radius: 10px / 9px;
border-radius: 10px / 9px; /* border radius */
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box; /* prevents bg color from leaking outside the border */
background-color: #fff; /* layer fill content */
-moz-box-shadow: inset 0 2px 0 #fff; /* inner shadow */
-webkit-box-shadow: inset 0 2px 0 #fff; /* inner shadow */
box-shadow: inset 0 2px 0 #fff; /* inner shadow */
font-size: 12px;
color: rgba(0,0,0,0.9);
}