.userdocs_container {}
.userdocs_container .search_box  { 
    display: inline-block; width: 37%; vertical-align: text-top; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;
    background-color: #cccccc; margin: 1%; padding:1%;
}
.userdocs_container .search_submit { 
    width: 13%; display: inline-block; vertical-align: text-top;  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;
    background-color: #cccccc; margin: 1% 0; padding:1%;
    height: 59px; 
} 
.userdocs_container .search_submit input {
	color: #373737;font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;
}
.userdocs_container .search_left {}
.userdocs_container .search_left {}
.userdocs_container ul { margin: 0; padding: 0; }
.userdocs_container ul li.userdocs_item { 
    list-style-type: none; display: block; 
    /*width: 24%;*/ 
    /*background-color: #cccccc;*/ 
    padding:10px; margin:1%;
    border-bottom: 1px solid #cccccc;
    max-height: 70px; overflow: hidden;
}
.userdocs_container ul li.userdocs_item span { display: inline-block; vertical-align: text-top; max-height: 90%; }
.userdocs_container .userdocs_header {
    font-weight: 600; font-size: 18px !important;  background-color: none !important;
}
.userdocs_container .userdocs_header .userdocs_title { font-size: 1em !important;font-weight: 400; }
.userdocs_container .userdocs_header .userdocs_date { font-size: 1em !important; font-weight: 600;}

.userdocs_container .userdocs_thumb {
    display: inline-block; width: 20px; margin-right: 15px;
}
.userdocs_container .userdocs_thumb a {
    display: block;
}
.userdocs_container .userdocs_thumb img { max-width: 100%; max-height: 100%; }

.userdocs_container .userdocs_title { display: inline-block; width: 50%; font-size: 1.1em; font-weight: 200; }
.userdocs_container .userdocs_date {  display: inline-block; width: 25%; font-size: 1em; font-weight: 200; }


.userdocs_container input[type="text"] {
  background-color: #f2f2f2;
  border: 1px solid #919191;
  border-radius: 0;
  float: left;
  font-size: 15px;
  padding-bottom: 3px;
  padding-top: 2px;
  width: 100%;
}
.userdocs_container .date_from_box ,
.userdocs_container .date_to_box 
{
  display: inline-block;
  max-width: 45%;
  
}
.userdocs_container .date_from_box input, .userdocs_container .date_to_box input {
  width: 80%; min-width: 50px; margin-right: 3%;
}

.userdocs_container label {
  float: left;
  font-size: 16px;
  margin-right: 20px;
}
input, select, textarea {
  min-width: 50px !important;
}