
/**
 * @file
 * OpenLayers Admin CSS
 *
 * This file holds CSS for the openlayers ui module
 *
 * @ingroup openlayers
 */

/**
 * Map Form
 */
.openlayers-form-projection-description,
.openlayers-form-layer-description {
  font-size: smaller;
  font-style: italic;
}

#openlayers-form-proj-msg {
  display: none;
}

span.openlayers-dependency-value {
  display: none;
}

span.openlayers-dependency-broken {
  font-size: smaller;
  display: none;
  color: red;
}

/**
 * Overriding for vertical tabs
 */
div.vertical-tabs fieldset {
  border: 1px solid #CCCCCC;
  margin: 1em 0;
  padding: 2.5em 0 0;
  position: relative;
}

div.vertical-tabs .vertical-tabs-panes legend {
  display: block;
}

div.vertical-tabs .vertical-tabs-panes > fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

div.vertical-tabs .vertical-tabs-panes > fieldset > legend {
  display: none;
}

/**
 * Behaviors table
 */
div.vertical-tabs table tbody tr fieldset {
  font-size: .85em;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  background-color: #EEEEEE;
  position: inherit;
}

div.vertical-tabs table tbody tr.odd .form-item,
div.vertical-tabs table tbody tr.even .form-item {
  white-space: normal;
}

/**
 * Style previews
 */
.openlayers-ui-style-preview {
  width: 60px;
  height: 60px;
  background-color: #DDDDDD;
  border: 1px solid #222222;
}

#openlayers-ui-styles-form .openlayers-ui-style-preview {
  width: 200px;
  height: 200px;
}

#openlayers-ui-styles-form #edit-preview-style-container {
  float: right;
  width: 210px;
  margin: 0 0 10px 10px;
}

.openlayers-ui-style-preview .openlayers-ui-style-preview-top,
.openlayers-ui-style-preview .openlayers-ui-style-preview-left {
  position: absolute;
  z-index: 999999;
}

.openlayers-ui-style-preview .openlayers-ui-style-preview-top {
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid rgb(33, 33, 33);
  border-bottom: 1px solid rgba(33, 33, 33, .2);

}
.openlayers-ui-style-preview .openlayers-ui-style-preview-left {
  top: 0;
  right: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-right: 1px solid rgb(33, 33, 33);
  border-right: 1px solid rgba(33, 33, 33, .2);
}