/*=======================================================================
 *** PORTO_SUB STYLE SHEET***
 ========================================================================*/

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');/* IE9 */
    src: url('../fonts/OpenSans-Light-webfont.eot?iefix') format('eot'),
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Light-webfont.svg#webfont') format('svg');
}
@font-face {
    font-family: 'Open Sans Light Italic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');/* IE9 */
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?iefix') format('eot'),
    url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'), 
    url('../fonts/OpenSans-LightItalic-webfont.svg#webfont') format('svg');
}
/*
 @font-face{
 font-family: 'Open Sans';
 src: url('../fonts/OpenSans-Regular-webfont.eot');/* IE9 *//*
 src: url('../fonts/OpenSans-Regular-webfont.eot?iefix') format('eot'),
 url('../fonts/OpenSans-Regular-webfont.woff') fo435rmat('woff'),
 url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
 url('../fonts/OpenSans-Regular-webfont.svg#webfont') format('svg');
 } */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular.eot');/* IE9 */
    src: url('../fonts/opensans-regular.eot?iefix') format('eot'),
    url('../fonts/opensans-regular.woff') format('woff'), 
    url('../fonts/opensans-regular.ttf') format('truetype'), 
    url('../fonts/opensans-regular.svg#webfont') format('svg');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');/* IE9 */
    src: url('../fonts/OpenSans-Bold-webfont.eot?iefix') format('eot'), 
    url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), 
    url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), 
    url('../fonts/OpenSans-Bold-webfont.svg#webfont') format('svg');
}

html, body {
    font-family: 'OpenSans', sans-serif !important;
    font-size: 13px;
    color: #747474;
    background: url('../images/bg_body-2.jpg') repeat-x #F7F7F7;
    background-attachment: fixed;
    background-position: top left;
}

h1, h2, h3, h4, h5, h6 {
    color: #373737;
    font-family: "Open Sans", sans-serif;
}
a, a > * {
    color: #333333;
    text-decoration: none;
}

.page-header {

    /*border-bottom: 1px solid #EBEBEB;*/
    border-bottom: none;
    margin-bottom: 0px;
    padding: 0 0 10px 0;
}
.contact-page .page-header {
    padding: 30px 0;
}
.page-header h1 {
    color: #000000;
    font-family: 'Open Sans Light' !important;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.Bold { font-weight: bold; }


/**
 * Pages with custom background image :
 * page-chi-siamo
 * page-ultime-notizie
 * page-node-90 (press area)
 * page-node-212 (press area -> comunicati stampa)
 * page-node-211 (press area -> rassegna stampa)
 * page-contact-page
 * page-risorse-umane
 * page-node-201 (invia cv)
 */
section#content:before {

}
section#content {
    background: url('../images/bg_cartamodello.png') repeat top left;
    margin-bottom: 0px;
    padding-bottom: 20px;
    margin-top: -35px;
}
.front #after-content {
    margin-top: 0px !important;
}
/** default background for home page, referenze,  **/
body.page-products section#content, 
body.page-node-213 section#content, 
body.front section#content {
    background: none;
}
body.front section#content {
    margin-top: -40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

/** FORMS  */
label {
    /*display: block !important;*/
    padding: 0;
    margin: 5px 0;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}
input, select, textarea {
    border: 1px solid #494949; /* stroke */
    background-color: #fff; /* layer fill content */
    padding: 6px;
    font-size: 12px;
    color: rgba(0,0,0,0.9);
    min-width: 300px;
}
input[type="text"], input[type="password"], input[type="email"] {
    /*width: 100%;*/
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid #494949; /* stroke */
}

/*input[type="checkbox"] {
 min-width:3px;
 visibility: hidden;
 }
 input[type="checkbox"]:before {
 content:""; display:inline-block; width:16px; height:16px; background-color:red; visibility: visible;
 }
 input[type=checkbox]:checked:before { background:green; }*/

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label:before {
    content: url(../images/bg_checkbox.png);
    /*background:transparent url(../images/bg_checkbox.png) no-repeat;*/
    /*background-position-y: 2px;*/
    height: 16px;
    width: 20px;
    display: inline-block;
    padding: 0 0 0 0px;
}
input[type="checkbox"]:checked + label:before {
    content: url(../images/bg_checkbox_on.png);
    /*background: #0080FF;*/
}
input[type="checkbox"] + label {
    vertical-align: middle;
    height: 20px;
}

input[type="submit"] {
    width: 124px;
    height: auto;
    border: 1px solid #bbb;
    font
    -size: 12px;
    color: rgba(0,0,0,0.9);
    -moz-border-radius: 10px /9px;
    -webkit-border-radius: 10px /9px;
    /* border-radius: 10px / 9px; *//* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #f2f2f2; /* layer fill content */
    -moz-box-shadow: inset 0 2px 0 #fff; /* inner shadow */
    -webkit-box-shadow: inset 0 2px 0 #fff; /* inner shadow */
    box-shadow: inset 0 2px 0 #fff; /* inner shadow */
}
.button.default {
    background-color: #ffffff;
}
.button.default:hover {
    background-color: #ffffff !important;
}

/** FORMS  */

.region-header-right {
    text-align: right;
}
.region-header-left {
    text-align: left;
}
.region-header-right #lang-dropdown-select-language_content {
    float: right;
}
.form-item-lang-dropdown-select {
    text-align: right;
    margin: 0 !important;
}
#lang-dropdown-select-language {
    float: right;
}

.ddsDefault .dd-select {
    background: none !important;
    border: none;
    padding-right: 15px;
}
.ddsDefault .dd-selected {
    text-transform: uppercase;
}
.ddsDefault .dd-option {
    padding: 5px !important;
}
.form-item-lang-dropdown-select label {
    margin: 0;
    text-transform: uppercase;
}
#logo_container {
    text-align: center;
}
#logo_container #logo {
    float: none;
    margin-top: 5px;
}

#header {
    padding-top: 0px;
    padding-bottom: 30px;
    /*margin-bottom: 20px;*/
    background: transparent no-repeat center bottom;
    /*background-image: url(../images/ago_filo.png);*/
    background-image: url(../images/ago_filo_2.png);
    background-repeat: no-repeat;
    background-position: center bottom;

    /*background-size: 100%;*/
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 95;
}
#header .container {
    /*background: url('../images/bg_body-2.jpg') repeat-x #F7F7F7;*/
    /*    background-attachment: fixed;
     background-position: top left;
     padding-top: 10px;
     width: 1000px;*/
}
#header .container .sixteen.columns {
    /*  width: 960px;*/
}

/** blank space laying under the header **/
.region-before-content-no-wrap:before {
    content: "";
    visibility: visible;
    display: block;
    height: 206px;
}

@media only screen and (max-width: 959px) {
    #header {
        position: relative;
        background: transparent no-repeat center bottom;
        background-image: url(../images/ago_filo.png);
        background-size: contain;
        margin-bottom: 20px;
    }
    #header .logo_container {
        margin-bottom: -10px;
    }
    .region-before-content-no-wrap:before {
        content: "";
        visibility: visible;
        display: block;
        height: 10px;
    }
    .eight.columns {
        width: 50% !important;
        margin-left: 0;
        margin-right: 0;
    }
    select.responsive-nav {
        margin-bottom: 5px;
    }
    .before-content-right {
        right: 0 !important;
    }
    .before-content-right #puro-stile-italiano {
    }
    #home-tooltip {
    }
    .block-installazioni .group-image img {
        max-height: 100% !important;
        max-width: 100% !important;
        width: inherit !important;
    }
    body.installazione-embed .block-installazioni .group-image img {
        width: auto !important;
    }

    .panels-flexible-3-middle {
        margin-left: 0px;
    }
    .page-contact-page .contact-panel-right {
        margin-left: 0;
        width: auto;
        max-width: 100%;
    }
    .page-contact-page .contact-form input[type="text"] {
        max-width: 100%;
        padding-left: 10px;
        width: auto;
    }
    .page-contact-page div.form-item {
        width: auto;
        max-width: 100%
    }
    .page-contact-page .form-actions {
        width: auto;
        max-width: 100%;inprimopiano-box
    }
        .panels-flexible-1-middle {
        margin-left: 0px;
    }

    .inprimopiano-box {
        display: block;
        min-height: 30px;
        position: relative;
        width: 90%;
        margin: 0 auto 0 auto !important;
    }
    .views-row:after, node-article:after {
        height: 5px !important;
    }

    .view-notizie .article-image {
        display: block !important;
        float: none !important;
        text-align: center;
    }
    .inprimopiano-box {
        display: block !important;
        width: 80% !important;
    }
    #footer .footer-block-1, 
    #footer .footer-block-2, 
    #footer .footer-block-3, 
    #footer .footer-block-4 {
        display: block !important;
        width: 90%;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 1024px) {
    .before-content-right {
        right: 0 !important;
    }
}

/*  @media only screen and (max-width: 1064px) {
 #header {
 background-size: contain;
 background-image: url(../images/ago_filo.png);
 position: relative !important;
 }
 .region-before-content-no-wrap:before {
 content: ""; visibility: visible; display: block; height: 10px;
 }
 }
 @media only screen and (min-width: 1065px) {
 #header {
 background-size: auto;
 }
 }
 Tablet Portrait size to standard 960 (devices and browsers)
 @media only screen and (min-width: 768px) and (max-width: 959px) {

 }
 All Mobile Sizes (devices and browser)
 @media only screen and (max-width: 767px) {
 }
 Mobile Landscape Size to Tablet Portrait (devices and browsers)
 @media only screen and (min-width: 480px) and (max-width: 767px) {
 }
 Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
 @media only screen and (max-width: 479px) {
 }*/

/** Resize menu when header is fixed STICKY (scrolling)  */
#header.fixed {
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
}
#header.fixed  .navigation > div > ul > li a {
    font-size: 12px;
}
#header.fixed #logo {
    width: 220px;
}
#header.fixed nav ul li {
    height: 50px;
    vertical-align: baseline;
}

.menu-container {
    border: 0;
    text-align: center;
    margin-top: 5px;
}
.menu-container .navigation {
    float: none;
}
.navigation > div > ul > li {
    display: inline-block;
    float: none;
}
.navigation > div > ul > li > a {
    border: none;
    font-size: 15px;
    letter-spacing: -0.01em;
}

.navigation a {
    font-weight: 400;
    font-family: 'OpenSans', sans-serif !important;
    letter-spacing: 0.1em;
}

.navigation > div > ul > li:hover > a, .navigation > div > ul > li > a.hover {
    background-color: none !important;
    color: #1E1E1E;
    text-decoration: none !important;
}
/*color-14 .navigation > div > ul > li.current-menu-item > a {
 background-color: none; color:#1E1E1E; text-decoration: underline !important;
 }*/
.color-14 .navigation > div > ul > li:hover > a, 
.color-14 .navigation > div > ul > li.current-menu-item > a {
    background-color: transparent !important;
    color: #1E1E1E;
    font-weight: bold;
}
.color-14 .navigation > div > ul > li:hover > a {
    /*text-decoration: underline !important;*/
}
/** SUBMENU **/
a#press-parent {
    border: 0px solid red;
}
.navigation ul ul {
    position: fixed;
    width: 100%; /*top:135px;*/
    left: 0;
    text-align: center;
    background-color: #A6A8AB;
}
.navigation ul ul li {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent !important;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 10px;
}
.navigation ul ul li a {
    color: #333333;
}
.navigation ul ul li:hover a, 
.navigation ul ul li a.active {
    background: url("../images/bg_submenu-h.png") no-repeat scroll center bottom rgba(0, 0, 0, 0) !important;
    color: #FFFFFF !important;
}

/** FANCY BOX **/
.fancybox-skin {
    padding: 15px 35px !important;
}
.fancybox-nav {
    width: 10%;
    visibility: visible !important;
}
.fancybox-nav span {
    visibility: visible !important;
}
.fancybox-nav.fancybox-prev {
    left: -45px;
}
.fancybox-nav.fancybox-next {
    right: -45px;
}

/** FANCY BOX **/

/** MD SLIDERS **/
.md-bullet {
    border-radius: 6px;
    height: 12px;
    width: 12px;
    background-color: #b9b9b9 !important;
}
.md-bullet.md-current {
    border-radius: 6px;
    height: 12px;
    width: 12px;
    background-color: #7d7d7d !important;
}
.md-bullet a {
    background: none !important;
}

/***  FOOTER  **/
#footer {
    font-family: 'Open Sans Light', sans-serif;
    position: relative;
    background-color: #fafafa;
    color: #737373;
    padding: 15px 0;
    font-size: 12px;
    bottom: 0;
}
/*
 .footer-block-1 { width: 280px !important;}
 .footer-block-2 { width: 245px !important; margin-left: 0;}
 .footer-block-3 { width: 250px !important; margin-left: 0; vertical-align: top;}
 .footer-block-3 a { font-size: 13px; color: #333333; vertical-align: top; display: inline-block; height: 100%;  }
 .footer-block-3 a img { position: absolute; }
 .footer-block-4 { width: 150px !important; margin-left: 0;}
 #footer img { margin-left: 3px;}
 */
/***  FOOTER  **/

/***  HOME PAGE **/
.inprimopiano-box {
    position: relative;
    display: inline-block;
    width: 32%;
    min-height: 30px;
    float: left;
    font-family: "Open Sans Light", sans-serif;
}

.inprimopiano-box:hover {
    cursor: pointer;
}
.inprimopiano-box > div > h3 > span {
    /*float: right;*/
    /*padding-right: 10px;*/
    /*padding-top: 2px;*/
    margin-left: 10px;
}
.inprimopiano-box > div > h3 {
    font-family: "Open Sans Light", sans-serif;
    color: #747474;
    font-size: 21px;
    font-weight: 200;
    text-align: center;
}

.inprimopiano-box div.content-tip {
    display: none;
}

/******  */
.view-home-highlights .node-portfolio-item .content {
    display: none;
}
.view-home-highlights .view-content {
    position: relative;
}
.view-home-highlights .view-content img {
    height: auto;
    padding-bottom: 0 !important;
    width: auto;
}

div#home-tooltip {
    display: none;
    position: absolute;
    top: -159px;
    z-index: 100000;
}
div#home-tooltip #home-tooltip-body {
    position: relative;
    padding: 6px;
    width: 308px;
    height: 124px;
    opacity: .99; /* layer alpha */
    border-top: 1px solid #bbb; /* stroke */
    border-left: 1px solid #bbb; /* stroke */
    border-right: 1px solid #bbb; /* stroke */
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: 3px 4px 9px 0 rgba(120,119,119,.6), 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff; /* drop shadow, outer glow and inner shadow */
    -webkit-box-shadow: 3px 4px 9px 0 rgba(120,119,119,.6), 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff; /* drop shadow, outer glow and inner shadow */
    box-shadow: 3px 4px 9px 0 rgba(120,119,119,.6), 0 0 3px rgba(0,0,0,.1), inset 0 2px 0 #fff; /* drop shadow, outer glow and inner shadow */
}

div#home-tooltip #home-tooltip-body div.inner_link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline;
}
div#home-tooltip #home-tooltip-body div.inner_link a:link {
    text-decoration: underline;
    font-weight: 600;
}
div#home-tooltip #home-tooltip-body div.inner_link a:hover {
    text-decoration: none;
}
div#home-tooltip img {
    display: inline-block;
    float: left;
    max-width: 105px;
    max-height: 110px;
    margin-right: 8px;
    margin-bottom: 8px;
}
div#home-tooltip #home-tooltip-bottom {
    background: url('../images/bg_home-tooltip2.png') no-repeat center bottom;
    height: 23px;
}

.before-content-right {
    position: absolute;
    right: 15%;
    top: 200px;
    z-index: 89;
    min-width: 60px !important;
}
#puro-stile-italiano {
    position: relative;
    z-index: 90;
}
#puro-stile-italiano img {
    width: 54px;
    height: 241px;
}

.author-about {
    display: none !important;
}

/** Articles **/
article .entry h2 {
    font-family: 'Open Sans Light';
    font-size: 22px;
    line-height: 26px;
}

article .entry .article-img {
    float: left;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
article .entry .article-title {
    margin-top: 10px;
}
article .entry .article-title h2 {
    font-family: 'Open Sans Light';
    font-size: 22px;
}
article .entry .article-body {
    height: 100%;
}
/** Articles **/

/** Page Referenze **/

.block-installazioni article img {
    height: 100%;
    width: 100%;
}
body.installazione-embed .block-installazioni .group-image {
    margin-right: 10px;
}
body.installazione-embed .block-installazioni .group-image img {
    width: auto !important;
}
/** Page Referenze **/

/** Page News **/
.view-notizie .node-news {
    background: url(../images/bg-fondo-testo.png) repeat;
    padding: 10px;
    /*margin-bottom: 20px;*/
}
.views-row {
    padding: 0;
    margin-bottom: 20px;
}
body.front .views-row {
    margin-bottom: 20px;
    margin-top: 20px;
}
.views-row:before, /*.node-news:before,*/ node-article:before {
    background: url('../images/bg_top-border.jpg') repeat-x;
    height: 1px;
    display: block;
    content: "";
    visibility: visible !important;
}

body.front .views-row:before, /*.single-news:before,*/ node-article:before {
    background: none;
    margin-bottom: 0px;
    height: auto;
}
body.front .views-row:after, /* .single-news:after, */ node-article:after {
    background: none;
    height: 1px;
}

.views-row:after, node-article:after {
    display: block;
    background: url('../images/bg_forbice.png') no-repeat;
    height: 26px;
    content: "";
    visibility: visible !important;
}
.view-notizie .article-image {
    float: left;
    display: inline-block; /*border: 1px solid gray;*/
    margin-right: 10px;
    width: 300px;
    min-height: 200px;
}
.view-notizie .article-image a {
    display: block;
    height: 100%;
    text-align: center;
}
.view-notizie .article-image img {
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
}
.view-notizie .article-date {
    float: right;
    font-family: 'Open Sans Light Italic';
    font-size: 12px;
    font-weight: 600;
}
.view-notizie .article-title h2 {
    font-family: 'Open Sans Light';
    font-size: 18px;
    font-weight: 400;
}
.view-notizie .article-text {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}

.view-notizie .read-more {
    text-align: right;
}
.view-notizie .read-more a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 13px;
}
.view-notizie .read-more a:hover {
    text-decoration: none;
}

.single-news .entry {
    background: url(../images/bg-fondo-testo.png) repeat;
    padding: 10px;
}
.single-news .content:before {
    background: url('../images/bg_top-border.jpg') repeat-x;
    height: 1px;
    display: block;
    content: "";
    visibility: visible !important;
}
.single-news .content:after {
    display: block;
    background: url('../images/bg_forbice.png') no-repeat;
    height: 26px;
    content: "";
    visibility: visible !important;
    padding: 0 !important;
    /*margin-bottom: 20px;*/
}
.single-news {
    color: #000000;
    font-size: 15px;
    font-weight: normal;
}
.single-news .article-image {
    display: inline-block;
    float: left;
    width: 320px;
    text-align: center;
}
.single-news .article-image img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
}
.single-news .article-date {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
}
.single-news .article-title h2 {
    font-family: 'Open Sans Light';
    font-size: 22px;
    font-weight: normal;
    color: #333333;
}
.single-news .article-body .back-link {
    text-align: right;
    font-size: 13px;
    line-height: 17px;
    text-decoration: underline;
    color: #333333;
}
/** Page News **/

/** Page ChiSiamo **/
div.entry {
    background: url(../images/bg-fondo-testo.png) repeat;
    padding-top: 1px;
    margin-bottom: 0px;
    overflow: hidden;
    border-bottom: none;
}
div.entry > * {
    padding: 0 20px;
}

/** Page ChiSiamo **/

/** Page Legal **/
body.page-node-96 #content article .article-title {
    display: none;
}/* non mostrare titolo interno articolo */
/** Page Legal **/

/** Area Stampa **/
body.page-node-211 #content article .article-title {
    display: none !important;
}/*non mostrare titolo interno articolo */
body.page-node-212 #content article .article-title {
    display: none !important;
}/*non mostrare titolo interno articolo */

/** Protezione dell'ambiente **/
body.page-node-202 #content article .article-title {
    display: none !important;
}/*non mostrare titolo interno articolo */

.comunicati-stampa {
    display: block;
    clear: both;
}
.comunicati-stampa tr {
    font-size: 15px;
    color: #000000;
}
.comunicati-stampa table {
    background-color: transparent !important;
    width: 100%;
}
.comunicati-stampa table tr td {
    padding: 10px;
}

/** Contact form **/
.contact-form .form-item-name:before {
    content: "";
}
.contact-form .form-item-mail:before {
    content: "";
}
.contact-form .form-item-subject:before {
    content: "";
}
.contact-form .form-item-message:before {
    content: "";
}
#contact-info h5 {
    font-family: 'Opens Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
#contact-info p {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 13px;
}

.page-contact-page h2 {
    font-size: 16px;
    font-weight: normal;
}
.page-contact-page section#content .panel-flexible {
    background: url(../images/bg-fondo-testo.png) repeat;
    padding: 10px;
}
.page-contact-page section#content .region-content:before {
    background: url('../images/bg_top-border.jpg') repeat-x;
    height: 1px;
    display: block;
    content: "";
    visibility: visible !important;
}

.page-contact-page .contact-panel-left {
    width: 380px;
}
.page-contact-page .contact-panel-right {
    width: 560px;
    margin-left: 0px;
}

.page-contact-page input, .page-contact-page select, .page-contact-page textarea {
    border: 1px solid #494949; /* stroke */
    background-color: #fff; /* layer fill content */
    padding: 6px;
    font-size: 12px;
    color: rgba(0,0,0,0.9);
}
/*#contact-site-form label, #comment-form-wrapper label,*/
.page-contact-page label {
    display: block !important;
    padding: 0;
    margin: 5px 0;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 13px;
    font-weight: normal;
}
.page-contact-page div.form-item {
    display: inline-block;
    /*margin: 0 0 10px 0;*/
    margin-bottom: 10px !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 400px;
}
.page-contact-page .contact-form input[type="text"] {
    width: 100%;
    padding-left: 10px;
}
.page-contact-page .form-actions {
    width: 400px;
    text-align: right;
}
.page-contact-page .contact-form input[type="submit"] {
    width: 124px;
    height: 24px;
    border: 1px solid #bbb; /* stroke */
    -moz-border-radius: 10px /9px;
    -webkit-border-radius: 10px /9px;
    border-radius: 10px /9px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: inset 0 2px 0 #fff; /* inner shadow */
    -webkit-box-shadow: inset 0 2px 0 #fff; /* inner shadow */
    box-shadow: inset 0 2px 0 #fff; /* inner shadow */
    font-size: 12px;
    color: rgba(0,0,0,0.9);
}

/*modifica @ 4-07-15*/
#footer {
    color: #333333;
    background: url(../images/footer-repeater.png) center top repeat-y !important;
    background-size: 100% 100% !important;
}
#footer_first .text-footer {
    text-transform: uppercase;
    line-height: 24px;
}
#footer-secondrow span {
    margin: 0 10px;
}
#header {
    background: #ffffff;
}
#logo_container {
    float: left;
}
.header-primary {
    float: right;
    width: 75%;
}
.header-primary .content p a {
    color: #b4c9da;
    margin: 0 10px;
}
.header-primary .content p a:first-child{
    margin-left: 0;
}
.login-bar {
    float: left;
}
.search-bar {
    float: right;
    width: 187px;
}
.search-bar input {
    min-width: auto;
}
.search-bar input[type="text"] {
    float: right;
    height: 23px;
    width: 95px;
    border: 1px solid #a1adb6;
    background: #edf2f6;
}
.search-bar input[type="submit"] {
    width: 23px;
    height: 23px;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    background: #b4c9da url(../images/search-icon.png) center center no-repeat;
    border: 1px solid #a1adb6;
}
.search-bar button {
    padding: 0;
    background-color: transparent;
    margin: 0;
}
#block-lang-dropdown-language-content {
    float: left;
}
#lang-dropdown-select-language_content, .dd-select {
    width: auto !important;
}
#block-search-form {
    float: right;
}
.ddsDefault .dd-selected{
    padding: 0 10px;
}
#lang-dropdown-select-language_content{
     border: 1px solid #a1adb6;
    height: 21px;
    background: #edf2f6;
    margin-right: 10px;
}
.ddsDefault .dd-pointer-down{
    left: 0;
    background: #b4c9da;
    height: 21px;
    top: 3px;
    width: 21px;
    border:  solid #a1adb6;
    border-width: 0 1px 0 0; 
    position: absolute;
}
.ddsDefault .dd-select{
    padding-left: 20px;
    padding-right: 0;
}
.ddsDefault .dd-pointer-down:after{
    content: " ";       
    border-left: 8px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    left: 8px;
    position: absolute;
    top: 6px;
}
.ddsDefault .dd-pointer-up{
     border-width: 0 1px 0 0 !important; 
     margin-top: -3px;
}
.navigation > div > ul > li {
    margin-right: 13px;
}
.navigation > div > ul > li > a{
     font-size: 12.5px;
     padding: 9px 0 8px;
     color: #000000;
}
.nav{
    clear: both;    
}
.menu-container{
    text-align: left;
}

.color-14 .navigation > div > ul > li:hover > a {
    color: #004a87;
}
