/*.group-header {
        border: 0px solid #FF0000;
        display:none;
}

.title{
        margin-top:0px;
        background-color:#EBEBE9;
        color:#747474;
        text-align:center;
        font-size:14px;
        padding:0px;
}
.title a{
        color:#747474;
} 

ul.firstUl{
        background-color:#EBEBE9;
        color:#747474;

        padding: 0px;

        margin: 0px;

}
li.firstLi {
        list-style:none;
        color:#747474;
        font-size:11px;
        border-bottom:2px solid #ffffff;
        padding-left:0px;

}
li.firstLi a{
        color:#747474;
        padding-left:5px;
}
li.firstLiActive{
        color:#FF0000;
}

ul.secUl{
        background-color:#EBEBE9;
        padding:0px;
        margin:0px;
        margin-left:0px;
}
li.secLi {

        list-style: none;
        color:#747474;
        font-size:11px;

        padding-left:5px;
        background-color:#EBEBE9;
        margin-left:3px;
        border-bottom:2px solid #ffffff;
}
li.secLi a{
        color:#747474;
}
li.secLiActive{
        color:#BE1018;
}
li.secLiActive a{
        color:#BE1018;
}
img.fisrtImgLi{
        border:none;
        margin-left:10px;
}

div.div_table{
}
div.div_table table{
        border:0px solid #00ff00;
        width:100%;
}

.col-file_name{
        width:25px;
        vertical-align:middle;
}
.col-file_name img{

        padding:0px;
}*/


div.year_header {
    height: 30px;
    line-height: 30px;
    border-top: 1px dashed #626262;
    border-bottom: 1px dashed #626262;
    background-color: #dfdfdf; 
    color: #000;
    padding-right: 20px;
    text-align: right;
    /*margin-top: 20px;*/
}
div.year_header span {
    display: inline-block; 
    font-family: 'Open Sans Light';
    font-size: 16px;
    font-weight: bold;
}
div.year_header.open {
    opacity: .7; /* layer alpha */
    background-color: #000; /* layer fill content */
    color: #fff;
}

div.year_header a {
    display: inline-block; 
    float: right;
    margin-left: 20px;
    width: 20px;
    height: 100%;
    background: transparent url('../images/table_expanded_icon.png') no-repeat;
    background-position: center center;
}
div.year_header.open a {
    background: transparent url('../images/table_closed_icon.png') no-repeat;
    background-position: center center;
}

div.table_container { background: url(../images/bg-fondo-testo.png) repeat; padding-top: 20px; }
div.table_container table { width: 90%; margin: 0 auto 20px auto; }
thead tr th { height: 30px; }
tbody tr td { height: 23px; }
tbody tr:hover { background-color: #DFDFDF; }
tr.even { /* background-color:#ffffff; */}
tr.odd  { /* background-color:#ffffff; */}