/**
 * @file
 * Styling for the ds_notizia_anteprima template.
 */

.ds_notizia_anteprima {
	margin: 0 0 10px 0;
}

.ds_notizia_anteprima > .group-header {
}

.ds_notizia_anteprima > .group-header {
}

.ds_notizia_anteprima > .group-left {
	float: left;
	margin-right: 14px;
}

.ds_notizia_anteprima.group-one-column > .group-left,
.ds_notizia_anteprima.group-one-column > .group-right {
  width: 100%;
  float: none;
}

.ds_notizia_anteprima > .group-footer {
  clear: both;
}

.ds_notizia_anteprima .float-right {
	float: right;
}


/*** Ridimensionamento TITOLO ANTEPRIMA NOTIZIA **/
.ds_notizia_anteprima .news-teaser-title h2 {
	font-size: 140%;
	line-height: 24px;
}